/**
 *  PhpStorm
 *
 *  Created by: Valery Ivannikov
 *  Site: http://varelkka.com
 */

html {
    overflow-x: hidden;
}

body {
    line-height: 1.7857;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #888888;
    -moz-font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    height: 200vh;
    padding: 0;
    margin: 0;
}

sup {
    font-size: 55%;
    top: -0.6em;
}


h4,
h3,
h2,
h1 {
    padding: 0;
    z-index: 15;
    position: relative;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-align: left;
    font-size: 180px;
    line-height: 130px;
    color: #ea2c2c;
    font-weight: 800;
    margin: 15.5% 0 4%;
    letter-spacing: -3px;
}

h2 {
    margin-top: 30%;
    margin-left: -12px;
    letter-spacing: -3px;
}

h3 {
    line-height: 120px;
    color: #dceaf0;
    margin-top: 16px;
    margin-bottom: 27%;
    letter-spacing: -5px;
}

.s6 h3 {
    color: #ffd87a;
    margin-left: -11px;
}

.s8 h3 {
    color: #ffd87a;
    margin-left: -11px;
    text-align: right;
    margin-bottom: 11.8%;
}

h3.yel {
    color: #ffd033;
}

h3.sk span {
    padding-left: 15%;
}

h3.sk span:last-child {
    padding-left: 23%;
}

.s5 h3 {
    color: #ffd033;
    margin-top: 42%;
    margin-bottom: 73%;
    line-height: 130px;
    margin-left: -11px;
    letter-spacing: -3px;
}

.s7 h3 {
    margin-top: 21%;
    margin-bottom: 56%;
    margin-left: -11px;
    letter-spacing: 0;
    line-height: 130px;
}

h4 {
    margin-top: 26.5%;
    margin-bottom: 29%;
    line-height: .67;
}

h4 span {
    padding-left: 3.5%;
    line-height: 0;
}

h5 {
    text-align: center;
    font-size: 24px;
    line-height: 1.2em;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    font-weight: bold;
    margin-bottom: 16px;
}

button,
a {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #444444;
    text-decoration: none;
    position: relative;
    outline: none !important;

}

a:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover {
    color: #ea2c2c;
    text-decoration: none;
}

a:hover:after {
    background-color: #ea2c2c;
}

.container {
    max-width: 81%;
    position: relative;
}

.menutop {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.menutop li {
    display: block;
    margin-bottom: 9px;
    margin-top: 4px;
    line-height: 1;
    font-size: 16px;
}

.menutop a {
    line-height: 1;
}

.fxt .menutop {
    max-height: 0;
}

.head_right {

    text-align: right;
    position: relative;
}

.a-logo {
    display: inline-block;
    width: 112px;
    height: 121px;
    background: url("../svg/Sreda_coworking_logo.svg") no-repeat 0 0 / cover;
    margin-top: 2%;
    margin-right: 5%;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.a-logo:hover:after {
    display: none;
}

.text-center {
    text-align: center;
}

.a-mail,
.a-phone {
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    font-size: 16px;
}

.a-mail {
    font-size: 16px;
    margin-top: 4px;
}

.h100 {
    height: 100%;
}

.b-phone {
    margin-top: 76px;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.b-city,
.a-login {
    font-size: 16px;
    line-height: 1;
}

.a-login {
    margin-left: 10px;
}

.head_right_top {
    padding-top: 0;
}

select.b-city {
    border: none;
    color: #444;
    text-align: right;
}

select.b-city option {
    text-align: right;
}

header {
    padding-top: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;

}

body {

}

header.fxt #menutopID,
header.fxt .a-mail,
header.fxt .head_right_top {
    max-height: 0;
    overflow: hidden;

}

header.fxt .b-phone {
    margin-top: 19px;
}

header.fxt .a-logo {
    width: 40px;
    height: 43px;
    margin-bottom: 8px;

}

header.fxt {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    padding-top: 8px;
}

.b-bgimg {
    position: absolute;
    background: url("../svg/i1.svg") no-repeat 50% 50% / cover;

}

.figur1 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffd033;
    z-index: -1;
    width: 88px;
    height: 73px;
}

.figur1:after {
    content: '';
    width: 167%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    top: 100%;
    right: 0;
}

.figur1:before {
    content: '';
    width: 242%;
    height: 113%;
    background-color: inherit;
    position: absolute;
    top: 200%;
    right: 0;
}

.figur2 {
    width: 66.2%;
    height: 65%;
    border: 5px solid #e6f0f4;
    position: absolute;
    left: 16.9%;
    top: 0;
}

.s7 .figur2 {
    width: 52.7%;
    height: 28.8%;
    left: 23.7%;
}

.s9 .figur2 {
    width: 54%;
    height: 72%;
    left: auto;
    right: 17%;
    top: 15%;
}

.figur2.f1 {
    width: 66%;
    left: 50%;
    height: 26.5%;
    top: 92px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

.figur3 {
    width: 54%;
    height: 37%;
    background-color: #e6f0f4;
    position: absolute;
    top: 62%;
    left: 0;
}

.figur8 {
    width: 47%;
    background-color: #e6f0f4;
    position: absolute;
    top: 8%;
    right: 12%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    max-width: 900px;
}

.figur8 p {
    display: block;
    height: 0;
    margin: 0;
    padding: 50% 20%;
}

.figur3.f1 {
    width: 71.1%;
    height: 20.6%;
    top: 6%;
}

.b-sect {
    position: relative;
}

.b-sect.s1 {
    margin-top: 60px;
    overflow: hidden;
}

.b-sect.s2 {
    padding-top: 10.8%;
}

.wrap {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.b-text {
    font-size: 35px;
    line-height: 49px;
    position: relative;
    z-index: 15;
}

.b-img {
    position: absolute;
    width: 600px;
    height: 600px;
    overflow: hidden;
    z-index: 10;
}

.b-img img {
    width: 100%;
    height: auto;
}

.b-img.i1 {
    top: 8.5%;
    right: 1.4%;
}

.s9 .b-img.i1 {
    top: 22.6%;
    right: auto;
    left: 57.2%;
}

.b-img.i2 {
    top: 16%;
    left: 4%;
}

.s7 .b-img.i2 {
    top: 25.4%;
    left: 11.3%;
}

.menumid {
    list-style: none;
    padding: 0;
    margin: 38% 0 64px;
}

.menumid li {
    display: inline-block;
    margin-right: 48px;
}

.menumid li:last-child {
    margin-right: 0;
}

.menumid a {
    font-size: 35px;
    line-height: 1.1;
    display: inline-block;
}

.menumid li.active a {
    color: #ea2c2c;
}

.b-ico {
    margin-bottom: 23%;
}

.b-ico_img {
    height: 72px;
    margin-bottom: 10px;
}

.b-ico_img img {
    height: 100%;
    width: auto;
    display: block;
}

.b-ico_tit {
    font-size: 16px;
    margin-bottom: 7px;
}

.slide2 {
    padding-top: 4%;
}

.menumid.m2 {
    margin-top: 32.5%;
    margin-bottom: 2.8%;
    position: relative;
    z-index: 15;
}

.menumid.m2 li {
    margin-right: 2%;
}

.menumid.m2 li:last-child {
    margin-right: 0;
}

.slider_wrap {
    height: 692px;
    overflow: hidden;
}

.slider3 .slick-list {
    overflow: visible;
}

.slider3 .slick-slide {
    overflow: hidden;
    height: 671px;
    outline: none !important;
}

.slider3_item_in {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.slider3 .slick-slide .slider3_item_in {
    -webkit-transform: translate(-30px, 150px);
    -moz-transform: translate(-30px, 150px);
    -ms-transform: translate(-30px, 150px);
    -o-transform: translate(-30px, 150px);
    transform: translate(-30px, 150px);
    height: 530px;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}

.b-red_btn:after,
#bVideoID:after,
.b-for_vid:after,
.slider3 .slick-slide .slider3_item_in:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    background-color: transparent;
    width: 100%;
    -webkit-transition: background 1.5s ease;
    -moz-transition: background 1.5s ease;
    -o-transition: background 1.5s ease;
    transition: background 1.5s ease;
    z-index: 100;
}

.b-red_btn:after,
#bVideoID:after,
.b-for_vid:after,
.slider3 .slick-active .slider3_item_in:after {
    background-color: #ea2c2c;
}

.s7 .slider3 .slick-active .slider3_item_in:after,
.s5 .slider3 .slick-active .slider3_item_in:after {
    background-color: #ffd033;
}

.slider3 .slick-active {

}

.slider3 .slick-current .slider3_item_in,
.slider3 .slick-active .slider3_item_in {
    -webkit-transform: translate(0, 45px);
    -moz-transform: translate(0, 45px);
    -ms-transform: translate(0, 45px);
    -o-transform: translate(0, 45px);
    transform: translate(0, 45px);
    height: 577px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
}

.slider3 .slick-current ~ .slick-slide .slider3_item_in,
.slider3 .slick-active ~ .slick-slide .slider3_item_in {
    -webkit-transform: translate(30px, 0);
    -moz-transform: translate(30px, 0);
    -ms-transform: translate(30px, 0);
    -o-transform: translate(30px, 0);
    transform: translate(30px, 0);
    height: 519px;
}

.slick-arrow {
    position: absolute;
    width: 45px;
    height: 45px;
    background: #dddddd url("../svg/str.svg") no-repeat 50% 50% / contain;
    border: none;
    background-size: 70%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 100;
    text-indent: -6000px;
    cursor: pointer;
    outline: none !important;
    padding: 0;
}

.slick-arrow:hover {
    background-color: #ea2c2c;

}

.slick-prev.slick-arrow {
    bottom: 0;
    left: -75px;
}

.slick-next.slick-arrow {
    top: 474px;
    right: -76px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.slick-dots {
    position: absolute;
    bottom: -32px;
    left: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    margin-left: 11px;
    margin-right: 11px;
}

.slick-dots button {
    text-indent: -6000px;
    border: none;
    padding: 0;
    height: 0;
    width: 20px;
    border-bottom: 5px solid #dddddd;
    cursor: pointer;
    outline: none !important;

}

.slick-dots .slick-active button {
    border-color: #ea2c2c;
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
}

.slick-arrow.slick-disabled {
    display: none !important;
}

.b-text2 {
    margin-top: 65%;
    margin-bottom: 177px;
    /* padding-left: 21px; */
    padding-right: 10%;
}

.s7 .b-text2 {
    margin-top: 100%;
    margin-bottom: 34%;
    padding-right: 0;
    line-height: 1.8;
}

.b-ico.v2 {
    text-align: center;
    margin-bottom: 43px;
}

.b-ico.v2 .b-ico_img {
    display: inline-block;
}

.b-ico.v2 .b-ico_img {
    margin-bottom: -10px;
    height: 82px;
    /* width: 54px; */
}

.b-ico.v2 .b-ico_tit {
    line-height: 1.3;
}

.i1_1 img {
    height: 63%;
    margin-top: 10%;
}

.i1_2 img {
    height: 55%;
    margin-top: 19%;
}

.i1_3 img {
    height: 45%;
    margin-top: 28%;
}

.i1_4 img {
    height: 60%;
    margin-top: 21%;
}

.i1_5 img {
    height: 58%;
    margin-top: 25%;
    margin-left: 13%;
}

.i1_6 img {
    height: 78%;
    margin-top: 1%;
}

.i1_7 img {
    height: 73%;
    margin-top: 11%;
}

.i1_8 img {
    height: 57%;
    margin-top: 33%;
}

.i1_9 img {
    height: 61%;
    margin-top: 34%;
}

.i1_10 img {
    height: 69%;
    margin-top: 41%;
}

.i1_11 img {
    height: 55%;
    margin-top: 53%;
}

.ico_str2 .b-ico.v2 .b-ico_img {
    margin-bottom: 13px;
}

.b-sect.s4 {
    padding-top: 40px;
    padding-bottom: 9.5%;
    background-color: #e6f0f4;
    margin-top: 0;
}

.a-abon {
    height: 390px;
    display: block;
    position: relative;
    color: #444444;
    background-color: #fff;
    padding: 65px 24px 10px 32px;
    z-index: 15;
}

.a-abon span {
    display: block;
}

span.a-abon_tit {
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 35px;
    font-weight: bold;
    position: relative;
}

.a-abon_txt {
    font-size: 14px;
    line-height: 20px;
}

.a-abon_pice {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #dddddd;
    height: 50px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.a-abon:before {
    content: '';
    position: absolute;
    width: 95px;
    height: 95px;
    right: 4%;
    top: 4%;
    background: url("../svg/Coworking_12_clock.svg") no-repeat 50% 50% / cover;
}

.a-abon.a2:before {
    background-image: url(../svg/Coworking_13_sun.svg);
    width: 113px;
    height: 113px;

}

.a-abon.a3:before {
    background-image: url(../svg/Coworking_14_7.svg);
    width: 92px;
    height: 110px;

}

.a-abon.a4:before {
    background-image: url(../svg/Coworking_15_31.svg);
    width: 92px;
    height: 110px;

}

.b-sect.s3 {
    padding-bottom: 12%;
    padding-top: 0;
}

.row.t-100 {
    margin-top: -74px;
}

.a-abon:hover {
    color: #fff;
    background-color: #EA2C2D;
}

.a-abon:hover .a-abon_pice {
    background-color: #d02e2e;
}

.a-abon:hover span.a-abon_tit {
    text-decoration: underline;
}

.a-abon:hover:before {
    opacity: .3;
}

.b-order {
    float: right;
    text-align: right;
    padding-top: 39%;
    position: relative;
    z-index: 16;
}

.b-order_tit {

    margin-bottom: 7px;
}

.b-order_phone {

}

.b-but {
    background-color: #ea2c2c;
    color: #fff;
    text-align: center;
    width: 240px;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}

.b-but:hover {
    background-color: #d02e2e;
    color: #fff;
}

.b-but:hover:after {
    display: none !important;
}

.b-order_phone .a-phone {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.s5 .figur2 {
    width: 45.9%;
    height: 26%;
    left: 30.2%;
    top: 5%;
    z-index: 1;
}

.figur5 {
    position: absolute;
    right: 0;
    top: 22.6%;
    width: 36%;
    height: 33%;
    background-color: #ffd033;
}

.s7 .figur5 {
    right: auto;
    left: 0;
    top: 15%;
    width: 29%;
    height: 41.5%;
}

.s5 .b-img.i1 {
    top: 7.2%;
    right: -3%;
}

.figur6 {
    position: absolute;
    top: 26.5%;
    left: 0;
    background-color: #ffd033;
    height: 26px;
    width: 22%;
}

.figur6:before {
    display: block;
    content: '';
    background-color: #ffd033;
    position: absolute;
    right: 10px;
    top: -34px;
    height: 34px;
    width: 34px;
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(44deg);
}

.figur6:after {
    display: block;
    content: '';
    background-color: #fff;
    position: absolute;
    right: -5px;
    top: -7px;
    height: 7px;
    width: 5px;
}

.figur7 {
    position: absolute;
    top: 3.2%;
    right: 0;
    background-color: #ffd033;
    height: 26px;
    width: 22%;
}

.figur7.f1 {
    top: 24.2%;
    right: 0;
    background-color: #e6f0f4;
    height: 26px;
    width: 14%;
}

.figur7.f1:before,
.figur7:before {
    display: block;
    content: '';
    background-color: #ffd033;
    position: absolute;
    left: 10px;
    bottom: -34px;
    height: 34px;
    width: 34px;
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(44deg);
}

.figur7.f1:before {
    background-color: #e6f0f4;
}

.figur7.f1:after,
.figur7:after {
    display: block;
    content: '';
    background-color: #fff;
    position: absolute;
    left: -5px;
    bottom: -7px;
    height: 7px;
    width: 5px;
}

.s5 .b-text2 {
    margin-top: 115%;
    margin-bottom: 33%;
    padding-right: 0;
}

.i1_20 img {
    height: 64%;
    margin-top: 13%;
}

.i1_21 img {
    height: 62%;
    margin-top: 6%;
}

.b-sect.s8 {
    background-color: #ffe3a0;
    padding-bottom: 9.8%;
    margin-top: 13.8%;
    padding-top: 3%;
}

.b-sect.s6 {
    background-color: #ffe3a0;
    padding-bottom: 9.7%;
    margin-top: 6%;
    padding-top: 3%;
}

.b-sect.s5 {
    padding-bottom: 178px;
}

.a-bron,
.a-bron img,
.a-bron span {
    display: block;
    max-width: 100%;
}

.a-bron.a1 {
    margin-top: 101px;
}

.a-bron.a2 {
    margin-top: 46px;
}

.s6 .b-order {
    /* padding-top: 52px; */
}

.a-bron_img {
    margin-bottom: 7%;
    position: relative;
}

span.a-bron_tit {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.a-bron_pice {
    font-weight: bold;
    font-size: 16px;
    margin-top: 17px;
}

.a-bron_txt {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 4px;
    position: relative;
    padding-left: 10px;
}

.a-bron_txt:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 2px;
    height: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #444444;
}

.a-bron:hover {
    color: #444444;
}

.a-bron:hover:after {
    display: none;
}

.a-bron:hover .a-bron_tit {
    text-decoration: underline;
    color: #d32f2f;
}

.a-bron_img:after {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-color: transparent;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    opacity: 0;
    content: '';
    position: absolute;
}

.a-bron:hover .a-bron_img:after {
    opacity: 1;
    background-color: #d32f2f;
}

.s7 {
    padding-top: 8.3%;
    padding-bottom: 118px;
}

.i1_30 img {
    height: 54%;
    margin-top: 6%;
}

.i1_31 img {
    height: 57%;
    margin-top: 21%;
}

.i1_32 img {
    height: 64%;
    margin-top: 6%;
}

.b-order.abs {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 16;
}

.s9 {

    z-index: 1;
}

.s10 {
    background-color: #e6f0f4;
    padding-top: 7%;
    padding-bottom: 12%;
}

#slider5 .slick-list {
    overflow: visible;
}

.a-event,
.a-event span {
    display: block;
    line-height: 1;
}

.a-event {
    background-color: #fff;
    padding: 8% 7% 10% 7%;
    width: 100%;
    outline: none !important;

}

.a-event_time {
    float: left;
    font-size: 14px;
}

.a-event_date {
    float: right;
    font-size: 14px;
    line-height: 1;
}

.a-event_month {
    font-size: 35px;
    line-height: 1;
    margin-top: 33px;
    margin-bottom: -4px;
    text-align: center;
}

.a-event_day {
    font-size: 180px;
    font-weight: 800;
    margin-bottom: 4px;
    text-align: center;
    line-height: 1;
}

span.a-event_title {
    font-size: 14px;
    line-height: 20px;
}

.a-event:hover:after {
    display: none;
}

.slider5_item.slick-current .a-event,
.a-event:hover {
    color: #fff;
    background-color: #ea2c2c;
}

.slider5_item,
#slider5 {
    height: 541px;
}

#slider6,
#slider5 {
    z-index: 3;
}

#slider5 .slick-track {
}

.slider5_item {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    outline: none !important;
}

.slider5_item_in {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider5_item.slick-current .a-event {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slider5_item .a-event {
    top: 50%;
    -webkit-transform: translateY(-23%);
    -moz-transform: translateY(-23%);
    -ms-transform: translateY(-23%);
    -o-transform: translateY(-23%);
    transform: translateY(-23%);
}

.slider5_item.bfr .a-event {
    top: 50%;
    -webkit-transform: translateY(-23%);
    -moz-transform: translateY(-23%);
    -ms-transform: translateY(-23%);
    -o-transform: translateY(-23%);
    transform: translateY(-36%);
}

.slider5_item_in .a-event {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.slider5 .slick-current ~ .slick-slide .a-event,
.slider5 .slick-active ~ .slick-slide .a-event {
    top: 50%;
    -webkit-transform: translateY(-78%);
    -moz-transform: translateY(-78%);
    -ms-transform: translateY(-78%);
    -o-transform: translateY(-78%);
    transform: translateY(-78%);
}

.slider5 .slick-current ~ .slick-slide.aft .a-event,
.slider5 .slick-active ~ .slick-slide.aft .a-event {
    top: 50%;
    -webkit-transform: translateY(-64%);
    -moz-transform: translateY(-64%);
    -ms-transform: translateY(-64%);
    -o-transform: translateY(-64%);
    transform: translateY(-64%);
}

#slider5 .slick-next.slick-arrow {
    top: 27%;
    right: -195%;
}


.s12,
.s11 {
    background-color: #e6f0f4;
    padding-bottom: 46px;
    color: #444;
}

.s12 h4,
.s11 h4 {
    color: #dceaf0;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 17%;
    line-height: .8;
}

.event_autor {

}

.event_autor_img {
    margin-bottom: 20px;
}

.event_autor_name {
    font-size: 35px;
    line-height: 1.46;
    letter-spacing: -1px;
}

.s11 .b-order.abs {
    position: absolute;
    top: 22%;
    right: 9%;
    padding-top: 0;
}

.s11 .b-text2 {
    margin-top: -1%;
    margin-bottom: 177px;
    padding-right: 10%;
    line-height: 1.6;
}

.b-photo_txt {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 1%;
    position: relative;
    z-index: 16;
}

.b-photo_txt b {
    font-size: 16px;
}

.s12 h4 {
    margin-top: 0;
    margin-bottom: 5%;
}

.s12 {
    background-color: #e6f0f4;
    padding-bottom: 13.4%;
    padding-top: 8%;
}

.s13 {
    padding-top: 7.5%;
}

.s13 .wrap {
    padding-bottom: 52px;
}

.s13 .figur2.f1 {
    width: 66%;
    left: 50%;
    top: 0;
    height: 69%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.s13 h2 {
    margin-top: 23.4%;
    margin-left: -12px;
    letter-spacing: -3px;
    line-height: 122px;
    margin-bottom: -10%;
}

.s13 .b-img.i2 {
    top: 12%;
    left: 7%;
}

.s13 .figur3.f1 {
    width: 49%;
    height: 90%;
    top: 12%;
    left: auto;
    right: 0;
}

.s13 .b-order {
    float: right;
}

.s13 .b-order_tit {
    float: right;
    margin-right: 56px;
}

.s13 .b-but {
    display: block;
    float: right;
}

.s14 {
    padding-top: 4.4%;
    padding-bottom: 4.2%;
}

.s14 p {
    margin-bottom: 6px;
    margin-top: 0;
}

.s14 .a-phone {
    margin-right: 5%;
}

.s14 b {
    color: #444;
    font-size: 16px;
}

#slider1 img {
    width: 100%;
    height: auto;
}

.s1 {
    z-index: 1;
}

.s1 .wrap {
    overflow: visible;
}

.s1 .slick-dots {
    margin-bottom: -42px;
}

#mapID {
    width: 100%;
    height: 589px;
}


.s1_bottom {
    width: 100%;
    height: 57px;
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #f9f9f9 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ffffff', GradientType=0);
}

.container.w100 {
    width: 100%;
}

.s8 .b-order.abs {
    position: absolute;
    top: 19%;
    right: 17.9%;
    padding-top: 0;
}

.s10 .wrap {
    width: 88%;
}

.s10 .container {
    max-width: 63%;
}

#slider5 .slick-next.slick-arrow {
    top: 36%;
    right: -96%;
}

#slider5 .slick-prev.slick-arrow {
    top: 55%;
    left: -96%;
}

.line {
    background-color: #d02e2e;
    position: absolute;
    z-index: 1;

}

#l1,
#l2,
#l3,
#l4 {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

}

.line.y {
    background-color: #ffd033;
}

.line.h {
    width: 0;
    height: 7px;
}

.line.v {
    height: 0;
    width: 7px;
}

.wrap.for_line {
    overflow: visible;
}

#l45 {
    z-index: 2;
}


#l28,
#l27,
#l26,
#l19,
#l12,
#l11 {
    z-index: 0;
}

#l38,
#l34 {
    z-index: 2;
}

#l1, #l2 {
    z-index: 101;
}

#l1.fxt, #l2.fxt {
    z-index: 99;
}

#shad {
    display: none;
}

.b-frmpop {
    visibility: hidden;
}

#shad {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: 1000;
}

.b-frmpop {
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;
    background-color: #e6f0f4;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 4px solid #fff;
    width: 600px;
    max-width: 94%;
    max-height: 94vh;
    height: auto;
    padding-top: 61px;
    padding-bottom: 66px;
    text-align: center;
}

.b-frmpop .container {
    width: 100%;
    max-width: 100%;
}

.b-frmpop_tit {
    font-size: 35px;
    line-height: 1;
    margin-bottom: 20px;
}

.b-frmpop_menu {
    margin: 0 0 47px;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.b-frmpop_menu li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-right: 20px;
    margin-right: 20px;
}

.b-frmpop_menu li:after {
    content: '|';
    position: absolute;
    top: 0;
    right: 0;
}

.b-frmpop_menu li:last-child:after {
    display: none;
}

.b-frmpop_menu li:last-child {
    padding-right: 0;
    margin-right: 0;
}

.b-frmpop_menu li.active a {
    color: #ea2c2c;
    text-decoration: none;
}

.b-frmpop_menu li.active a:after {
    background-color: #ea2c2c;
}

.close-frm {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background: #dddddd url("../img/close.png") no-repeat 50% 50%;
}

a.close-frm:hover {
    background-color: #ea2c2c;
}

a.close-frm:hover:after {
    display: none;
}

.frm-group {
    margin-bottom: 42px;
}

.frm-inp,
textarea.frm-inp,
input.frm-inp {
    padding-left: 26px;
    width: 99%;
    height: 50px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 50px;
    color: #dddddd;
    border: 1px solid #dddddd;
    background-color: #fff;
    margin-bottom: 14px;
    outline: none !important;
}

textarea.frm-inp {
    height: 80%;
    width: 100%;
}

textarea.frm-inp:focus,
input.frm-inp:focus {
    border: 1px solid #888888;
    color: #444444;

}

input.inp-confirm {
    text-align: center;
    width: 126px;
    padding-left: 0;
}

input:valid {
    color: #000;
}

.slider_frm_itm {
    width: 100%;
}

.b-frmpop_txt {
    margin-bottom: 28px;
}

#formMessage,
#formBronConf,
#formBron,
#formAbon {
    width: 886px;
}

input.frm-date {
    width: 40%;
    vertical-align: top;
}

.col-md-8.text-right input.frm-date {
    width: 75%;
}

label {
    padding-right: 18px;
}

label.text-left {
    padding: 8px 0 8px;
}

label.col-md-4 {
    padding-right: 0;
    text-align: left;
}

.text-left {
    text-align: left;
}

input.frm-time {
    width: 18%;
    text-align: center;
    vertical-align: top;
    padding: 0;
}

.text-right {
    text-align: right;
}

.select2-container--open.select2-container--default .select2-selection--single .select2-selection__arrow {
    background-color: #ea2c2c;
}

.select2-container--open.select2-container--default .select2-selection--single .select2-selection__arrow b {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: -8px;
}

.a-fore-date {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #dddddd;
    position: relative;
}

.a-fore-date:after {
    content: '';
    position: absolute;
    top: 14px;
    left: 10px;
    width: 30px;
    height: 23px;
    background: url("../svg/date.svg") no-repeat 50% 50% / contain;
}

.a-fore-date:hover {
    background-color: #ea2c2c;
}

.b-frmpop.y {
    background-color: #fff2d3;
}

.col-md-8 > input.frm-time {
    width: 32.5%;
}

.sp-t {
    margin-top: 5%;
    display: inline-block;
}

.col-md-8.text-right {
    white-space: nowrap;
}

.b-frmpop {
    color: #444;
}

.i-resp {
    width: 100%;
    height: auto;
}

.who_txt a {
    text-decoration: underline;
}

.who_txt a:hover {
    text-decoration: none;
}

.who_txt a:after {
    display: none !important;
}

.menu-mobile {
    width: 38px;
    height: 42px;
    display: block;
    float: left;
    margin-left: 0;
    margin-top: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
    outline: none !important;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 9px;
    max-height: 0;
    overflow: hidden;
}

.fxt .menu-mobile {
    max-height: 300px;
    overflow: hidden;
}

.menu-mobile i {
    display: block;
    border-bottom: 5px solid #dddddd;
    width: 38px;
    margin-top: 6px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    margin-left: 7px;
}

.menu-mobile.open i:nth-child(1) {
    top: 11px;
    width: 0;
    left: 50%;
}

.menu-mobile.open i:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-mobile.open i:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -2px;
    width: 24px;

}

.menu-mobile.open i:nth-child(1) {
    top: 11px;
    width: 0;
    left: 50%;
}

.menu-mobile.open i:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-mobile.open i:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -4px;
    width: 38px;
}

.b-for_vid {
    width: 100%;
    height: 100%;

    position: relative;
}

.a-play, .b-for_vid img {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.b-for_vid img {
    width: 100%;
    height: auto;
}

#bVideoID {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.a-play {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #c70909;
}

.a-play:after {
    content: '';
    display: block;
    position: absolute;
    left: 14px;
    top: 14px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 12px solid #fff;
    border-bottom: 6px solid transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.b-video {
    padding-top: 2%;
    position: relative;
    overflow: hidden;
}

.b-red_btn {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    min-height: 65vh;
}

#for_city .select2-container--default .select2-selection--single {
    border: none;
}

#for_city .select2-container .select2-selection--single {
    height: 14px;

}

#for_city .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 14px;
    padding-left: 0;
    text-align: right;
    padding-right: 24px;
}

#for_city .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 14px;
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: #fff;
    width: 20px;
}

#for_city .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 0;
}

.select2-container * {
    outline: none !important;
}

#for_city .select2-container--open.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #c70909 transparent transparent transparent;
}

#for_city .select2-container--open .select2-dropdown--below {
    border: 1px solid #aaa;
}

.nowrap {
    white-space: nowrap;
}

.only600 {
    display: none;
}

#bPage {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding-top: 158px;
}

.s11 h4 span {
    padding-left: 0;
}

.s14 .figur3.f1 {
    display: none;
}

.for_video .slider3_item_in {
    position: relative;
    background-color: #fff;
}

#videoBG {
    width: 100%;
    height: 100%;
}

#l48 {
    z-index: 0;
}

#slider10 {
    z-index: 10;
}