/**
 *  PhpStorm
 *
 *  Created by: Valery Ivannikov
 *  Site: http://varelkka.com
 */

.dnone,
.mobile-only {
    display: none
}

/* Large desktops and laptops */
@media (max-width: 1400px) {
    .figur3.f1 {
        width: 80.1%;
        height: 18.6%;
        top: 10%;
    }

    .b-img.i2 {
        top: 3.5%;
        left: -14%;
    }

    .figur2.f1 {
        width: 92%;
        left: 50%;
        height: 30.5%;
        top: 4%;
    }

    .b-ico {
        margin-bottom: 9%;
    }

    h2 {
        margin-top: 30%;
        margin-left: -12px;
        letter-spacing: -3px;
    }

    .menumid.m2 {
        margin-top: 4%;
        margin-bottom: 1.1%;
        position: relative;
        z-index: 15;
    }

    .b-ico_tit {
        margin-bottom: 12px;
    }

    .b-img {
        width: 500px;
        height: 500px;
    }

    .slide2 {
        padding-top: 3%;
    }

    .b-img.i1 {
        top: 14.5%;
        right: -1.6%;
    }

    .figur2 {
        width: 83.2%;
        height: 77%;
        left: 3.2%;
        top: 0;
    }

    .menumid {
        margin-top: 30%;
        margin-bottom: 6%;
    }

    .line.h {
        height: 5px;
    }

    .line.v {
        width: 5px;
    }

    header {
        padding-top: 19px;
    }

    h1 {
        margin-top: 16%;
        margin-bottom: 5%;
        margin-left: 0;
    }

    .b-sect.s2 {
        padding-top: 54px;
    }

    .container {
        max-width: 1140px;
        position: relative;
    }

    .b-city, .a-login {
        font-size: 12px;
        line-height: 1;
    }

    .a-mail {
        font-size: 12px;
        margin-top: 8px;
    }

    .a-mail, .a-phone {
        font-size: 16px;
    }

    .head_right_top {
        padding-top: 0;
    }

    .menutop li {
        margin-bottom: 8px;
        margin-top: 7px;
        font-size: 14px;
    }

    .b-phone {
        margin-top: 63px;
    }

    .b-sect.s1 {
        margin-top: 25px;
    }

    .s1 .slick-dots {
        margin-bottom: -43px;
    }

    .slider3 .slick-slide .slider3_item_in {
        -webkit-transform: translate(-30px, 140px);
        -moz-transform: translate(-30px, 140px);
        -ms-transform: translate(-30px, 140px);
        -o-transform: translate(-30px, 140px);
        transform: translate(-30px, 140px);
        height: 482px;
        width: 100%;
    }

    .slider3 .slick-current .slider3_item_in, .slider3 .slick-active .slider3_item_in {
        -webkit-transform: translate(0, 45px);
        -moz-transform: translate(0, 45px);
        -ms-transform: translate(0, 45px);
        -o-transform: translate(0, 45px);
        transform: translate(0, 45px);
        height: 532px;
        background-position: 50% 50%;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .slider_wrap {
        height: 621px;
        overflow: hidden;
    }

    .slider3 .slick-slide {
        overflow: hidden;
        height: 621px;
    }

    .slick-dots {
        position: absolute;
        bottom: -17px;
        left: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .slider3 .slick-dots {
        bottom: -9px;
    }

    .menumid.m2 li {
        margin-right: 3%;
    }

    .b-text2 {
        margin-top: 134px;
        margin-bottom: 177px;
        padding-right: 10%;
    }

    .b-sect.s3 {
        padding-bottom: 70px;
        padding-top: 0;
    }

    .b-sect.s4 {
        margin-top: 0;
        padding-bottom: 94px;
        background-color: #e6f0f4;
        padding-top: 0;
    }

    h3 {
        line-height: 120px;
        color: #dceaf0;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: -5px;
    }

    .b-order {
        float: right;
        text-align: right;
        padding-top: 43px;
    }

    .b-sect.s5 {
        padding-bottom: 178px;
    }

    .s5 .figur2 {
        width: 64.6%;
        height: 32.5%;
        left: 4%;
        top: 37px;
        z-index: 1;
    }

    .s5 .b-img.i1 {
        top: 92px;
        right: -135px;
    }

    .s5 h3 {
        margin-top: 204px;
        margin-bottom: 230px;
        margin-left: -11px;
        letter-spacing: -3px;
    }

    .figur6 {
        top: 676px;
        left: 0;
        width: 21%;
    }

    .s5 .b-text2 {
        margin-top: 262px;
        margin-bottom: 183px;
        padding-right: 0;
    }

    .figur5 {
        position: absolute;
        right: 0;
        top: 443px;
        width: 42%;
        height: 726px;
        background-color: #ffd033;
    }

    .b-sect.s6 {
        background-color: #ffe3a0;
        padding-bottom: 7.4%;
        margin-top: 0;
        padding-top: 0;
    }

    .s6 .b-order {
        padding-top: 52px;
    }

    .s6 h3 {
        color: #ffd87a;
        margin-left: -11px;
    }

    .a-bron_img {
        position: relative;
        z-index: 16;
    }

    .s7 {
        padding-top: 40px;
        padding-bottom: 7.8%;
    }

    .s7 h3 {
        margin-top: 140px;
        margin-bottom: 286px;

    }

    h3.sk span {
        padding-left: 17%;
    }

    h3.sk span:last-child {
        padding-left: 27%;
    }

    .s7 .b-text2 {
        margin-top: 282px;
        margin-bottom: 204px;
        padding-right: 0;
    }

    .s7 .figur5 {
        top: 278px;
        width: 21%;
        height: 790px;
    }

    .figur7 {
        top: 58px;
        height: 26px;
        width: 18%;
    }

    .s7 .figur2 {
        width: 93.5%;
        height: 98%;
        left: 3%;
    }

    .s7 .b-img.i2 {
        top: 502px;
        left: 1%;
    }

    .b-sect.s8 {
        margin-top: 0;
        padding-bottom: 7.2%;
        padding-top: 0;
    }

    .s8 h3 {
        margin-bottom: -18px;
    }

    h4 {
        margin-top: 279px;
        margin-bottom: 264px;
        line-height: .67;
    }

    h4 span {
        padding-left: 5%;
    }

    .s9 .figur2 {
        width: 80.5%;
        height: 700px;
        left: auto;
        right: 4%;
        top: 40px;
    }

    .figur8 {
        width: 46%;
        top: 16px;
        right: 8%;

    }

    .s9 .b-img.i1 {
        top: 175px;
        right: auto;
        left: 52.2%;
    }

    .s10 .wrap {
        width: 100%;
    }

    .s10 .container {
        max-width: 85%;
    }

    .s10 {
        padding-top: 80px;
        padding-bottom: 66px;
    }

    .s12 h4, .s11 h4 {
        margin-top: 0;
        margin-bottom: -7px;
    }

    .s11 .b-text2 {
        margin-top: 129px;
        margin-bottom: 177px;
        padding-right: 10%;
        line-height: 1.6;
    }

    .event_autor_name {
        line-height: 1.26;
    }

    .s11 .b-order.abs {
        position: absolute;
        top: 22%;
        right: 15px;
    }

    .s12 {
        padding-bottom: 66px;
        padding-top: 0;
    }

    .s12 h4 {
        margin-top: 0;
        margin-bottom: -20px;
    }

    .b-photo_txt {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: -15px;
    }

    .s13 {
        padding-top: 40px;
    }

    .s13 .figur2.f1 {
        width: 92%;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .s13 h2 {
        margin-top: 214px;
        margin-left: -12px;
        letter-spacing: -3px;
        line-height: 122px;
        margin-bottom: 24%;
    }

    .s13 .figur3.f1 {
        width: 49%;
        height: 81%;
        top: 20%;
        left: auto;
        right: 0;
    }

    .s13 .b-img.i2 {
        top: 22%;
        left: -1%;
    }

    .s14 {
        padding-top: 54px;
        padding-bottom: 30px;
    }

    #mapID {
        width: 100%;
        height: 442px;
    }

    #slider5 .slick-next.slick-arrow {
        top: 36%;
        right: -96%;
    }

    #slider5 .slick-prev.slick-arrow {
        top: 55%;
        left: -96%;
    }

    .s8 .b-order.abs {
        position: absolute;
        top: 8%;
        right: 15px;
        padding-top: 0;
    }

}

@media (max-width: 1100px) {
    .container {
        width: 94%;
    }

    .a-logo {
        width: 93px;
        height: 101px;
        margin-top: 6%;
        margin-right: 2%;
    }

    .a-mail, .a-phone {
        font-size: 14px;
    }

    header.fxt .a-logo {
        width: 40px;
        height: 43px;
        margin-bottom: 8px;
        margin-top: 2px;
    }

    header.fxt .b-phone {
        margin-top: 14px;
    }

    .menu-mobile {
        margin-top: 6px;
    }

    h4, h3, h2, h1 {
        font-size: 150px;
        line-height: 110px;
        margin-top: 23%;
        margin-bottom: 7%;
        margin-left: 0;
    }

    .line.h {
        height: 4px;
    }

    .line.v {
        width: 4px;
    }

    .slick-dots button {
        width: 15px;
        border-bottom: 4px solid #dddddd;
    }

    .b-sect.s2 {
        padding-top: 14%;
    }

    .b-text {
        font-size: 30px;
        line-height: 38px;
    }

    .b-img {
        width: 400px;
        height: 400px;
    }

    .menumid {
        margin-top: 36%;
        margin-bottom: 6%;
    }

    .menumid li {
        display: inline-block;
        margin-right: 3%;
    }

    .menumid a {
        font-size: 30px;
    }

    .b-img.i1 {
        top: 27.5%;
        right: -6.6%;
    }

    .figur2 {
        border: 4px solid #e6f0f4;
    }

    .b-ico {
        margin-bottom: 15%;
    }

    .s3 h2 {
        margin-top: 30%;
        margin-bottom: 21%;
    }

    .figur2.f1 {
        width: 90%;
        left: 50%;
        height: 30.5%;
        top: 1%;
    }

    .b-text2 {
        margin-top: 33%;
        margin-bottom: 24%;
        padding-right: 0;
    }

    .figur7.f1 {
        top: 25.2%;
        right: 0;
        height: 26px;
        width: 14%;
    }

    .figur3.f1 {
        width: 71.1%;
        height: 19.6%;
        top: 9%;
    }

    .s4 h3 {
        margin-top: 0;
        margin-bottom: 14%;
    }

    .a-abon {
        padding: 65px 24px 10px 20px;
    }

    span.a-abon_tit {
        margin-bottom: 28px;
    }

    .a-abon:before {
        width: 86px;
        height: 86px;
        right: 7%;
        top: 3%;
    }

    .a-abon.a2:before {
        width: 100px;
        height: 100px;
        right: 7%;
        top: 3%;
    }

    .a-abon.a3:before {
        width: 85px;
        height: 100px;
        right: 7%;
        top: 3%;
    }

    .a-abon.a4:before {
        width: 85px;
        height: 100px;
        right: 7%;
        top: 3%;
    }

    .b-sect.s4 {
        margin-top: 0;
        padding-bottom: 6%;
        padding-top: 0;
    }

    .s5 h3 {
        margin-top: 34%;
        margin-bottom: 74%;
        margin-left: -11px;
        line-height: 110px;
    }

    .figur5 {
        top: 18%;
        width: 36%;
        height: 34%;
    }

    .s6 h3 {
        color: #ffd87a;
        margin-left: -11px;
        margin-top: 0;
    }

    .s10 .container {
        max-width: 100%;
    }
}

@media (min-width: 800px) {

    header.fxt:hover #menutopID {
        max-height: 500px;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    header.fxt:hover .menu-mobile {
        max-height: 0;
    }

    header.fxt:hover .a-logo {
        width: 112px;
        height: 121px;
        margin-top: 7%;
    }

    header.fxt:hover .a-mail,
    header.fxt:hover .head_right_top {
        max-height: 300px;
    }

    header.fxt:hover .b-phone {
        margin-top: 76px;
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 800px) {

    header.open {
        z-index: 102;
    }

    .menumid.m2 {
        margin-top: 17%;
        margin-bottom: 3%;
        position: relative;
        z-index: 15;
    }

    .slider_wrap {
        height: 390px;
        overflow: hidden;
    }

    .slider3 .slick-slide {
        overflow: hidden;
        height: 390px;
    }

    .slider3 .slick-slide .slider3_item_in {
        -webkit-transform: translate(-30px, 89px);
        -moz-transform: translate(-30px, 89px);
        -ms-transform: translate(-30px, 89px);
        -o-transform: translate(-30px, 89px);
        transform: translate(-30px, 89px);
        height: 300px;
        width: 100%;
    }

    .slider3 .slick-current .slider3_item_in, .slider3 .slick-active .slider3_item_in {
        -webkit-transform: translate(0, 31px);
        -moz-transform: translate(0, 31px);
        -ms-transform: translate(0, 31px);
        -o-transform: translate(0, 31px);
        transform: translate(0, 31px);
        height: 332px;
    }

    .slider3 .slick-current ~ .slick-slide .slider3_item_in, .slider3 .slick-active ~ .slick-slide .slider3_item_in {
        -webkit-transform: translate(30px, 0);
        -moz-transform: translate(30px, 0);
        -ms-transform: translate(30px, 0);
        -o-transform: translate(30px, 0);
        transform: translate(30px, 0);
        height: 300px;
    }

    .slick-next.slick-arrow {
        top: 255px;
        right: -76px;
    }

    .slide2 {
        padding-top: 2%;
    }

    body {
        font-size: 12px;
    }

    .menutop {
        display: none;
    }

    .b-phone {
        max-height: 0;
        overflow: hidden;
        position: fixed;
        bottom: 5vh;
        right: 5vw;
        z-index: 125;

    }

    .fxt .b-phone {
        display: block;
    }

    .menu-mobile {
        display: block;
        max-height: 300px;
    }

    .menu-mobile i {
        display: block;
        border-bottom: 4px solid #ea2c2c;
        width: 30px;
        margin-top: 6px;
    }

    .menutop,
    .fxt .menutop {
        position: absolute;
        left: -5vw;
        top: 100%;
        padding: 15vh 0 0;
        max-height: 100vh !important;
        width: 110vw;
        background-color: #e6f0f4;
        height: 100vh;
        z-index: 105;

    }

    .menutop {
        top: 103%;
    }

    .menutop:before,
    .fxt .menutop:before {
        content: '';
        position: absolute;
        left: 0;
        top: -5px;
        width: 100%;
        height: 5px;
        background-color: #fff;
    }

    .menutop li,
    .fxt .menutop li {
        margin-bottom: 0;
        margin-top: 0;
        padding: 14px 40px 14px 40vw;
    }

    .menutop li a,
    .fxt .menutop li a {
        display: inline-block;
        margin-bottom: 0;
    }

    .menutop li:last-child,
    .fxt .menutop li:last-child {
        margin-bottom: 0;
    }

    .menutop li:last-child a,
    .fxt .menutop li:last-child a {
        border-bottom: none;
        margin-bottom: 0;
    }

    .menu-mobile.open i:nth-child(3) {
        margin-top: -4px;
        width: 30px;
    }

    .container {
        width: 94%;
    }

    .a-logo {
        width: 63px;
        height: 68px;
        margin-top: 2%;
        margin-right: 2%;
    }

    .a-mail, .a-phone {
        font-size: 14px;
    }

    header.fxt .a-logo {
        width: 40px;
        height: 43px;
        margin-bottom: 8px;
        margin-top: 2px;
    }

    header.fxt .b-phone {
    }

    header.open .a-logo {
        width: 62px;
        height: 67px;
    }

    header.fxt .head_right_top {

        max-height: 300px;
        overflow: hidden;
        padding-top: 12px;
    }

    header.open .a-mail,
    header.open .b-phone {
        max-height: 300px;

    }

    .menu-mobile {
        margin-top: 1px;
    }

    .fxt .menu-mobile {
        margin-top: 5px;
    }

    h4, h3, h2, h1 {
        font-size: 110px;
        line-height: 80px;
        margin-top: 13%;
        margin-bottom: 5%;
        margin-left: 0;
    }

    .line.h {
        height: 3px;
    }

    .line.v {
        width: 3px;
    }

    .slick-dots button {
        width: 15px;
        border-bottom: 4px solid #dddddd;
    }

    .b-sect.s2 {
        padding-top: 14%;
    }

    .b-text {
        font-size: 20px;
        line-height: 28px;
    }

    .b-img {
        width: 300px;
        height: 300px;
    }

    .menumid {
        margin-top: 28%;
        margin-bottom: 6%;
    }

    .menumid li {
        display: inline-block;
        margin-right: 2%;
    }

    .menumid a {
        font-size: 20px;
    }

    .b-img.i1 {
        top: 12.5%;
        right: -2.6%;
    }

    .figur2 {
        border: 4px solid #e6f0f4;
    }

    .b-ico {
        margin-bottom: 20%;
    }

    .s3 h2 {
        margin-top: 30%;
        margin-bottom: 2%;
    }

    .figur2.f1 {
        width: 90%;
        left: 50%;
        height: 30.5%;
        top: 1%;
    }

    .b-text2 {
        margin-top: 22%;
        margin-bottom: 7%;
        padding-right: 0;
        font-size: 10px;
    }

    .figur7.f1 {
        top: 25.2%;
        right: 0;
        height: 26px;
        width: 14%;
    }

    .figur3.f1 {
        width: 71.1%;
        height: 19.6%;
        top: 9%;
    }

    .s4 h3 {
        margin-top: 0;
        margin-bottom: 17%;
    }

    .a-abon {
        padding: 38px 16px 10px 16px;
        width: 110%;
        margin-left: -5%;
        height: 296px;
        position: relative;
        z-index: 16;
    }

    span.a-abon_tit {
        margin-bottom: 18px;
        font-size: 14px;
    }

    .a-abon:before {
        width: 60px;
        height: 60px;
        right: 7%;
        top: 3%;
    }

    .a-abon.a2:before {
        width: 80px;
        height: 80px;
        right: 3%;
        top: 1%;
    }

    .a-abon.a3:before {
        width: 60px;
        height: 70px;
        right: 7%;
        top: 3%;
    }

    .a-abon.a4:before {
        width: 60px;
        height: 70px;
        right: 4%;
        top: 3%;
    }

    .b-sect.s4 {
        margin-top: 0;
        padding-bottom: 6%;
        padding-top: 0;
    }

    .s5 h3 {
        margin-top: 16%;
        margin-bottom: 36%;
        margin-left: -11px;
        line-height: 79px;
    }

    .figur5 {
        top: 18%;
        width: 36%;
        height: 34%;
    }

    .s6 h3 {
        color: #ffd87a;
        margin-left: -11px;
        margin-top: 0;
        line-height: 70px;
        margin-bottom: 19%;
    }

    .s10 .container {
        max-width: 100%;
    }

    .b-ico_img {
        height: 51px;
        margin-bottom: 10px;
    }

    .b-ico_tit {
        margin-bottom: -2px;
    }

    .b-ico_txt {
        font-size: 10px;
    }

    .b-ico.v2 {
        text-align: center;
        margin-bottom: 43px;
    }

    .b-ico.v2 .b-ico_img {
        margin-bottom: -2px;
        height: 57px;
        /* width: 54px; */
    }

    .b-ico.v2 .b-ico_tit {
        font-size: 14px;
        line-height: 1.3;
    }

    .b-sect.s3 {
        padding-bottom: 0;
        padding-top: 0;
    }

    .b-order {
        float: right;
        text-align: right;
        padding-top: 20px;
        margin-right: -10px;
    }

    .b-order_tit {
        margin-bottom: 13px;
        font-size: 10px;
    }

    .b-order_phone {
        font-size: 14px;
        line-height: 1;
    }

    .b-but {
        background-color: #ea2c2c;
        width: 170px;
        line-height: 39px;
        height: 39px;
        letter-spacing: 1px;
    }

    .a-abon_txt {
        font-size: 10px;
        line-height: 1.6;
    }

    .a-abon_pice {
        height: 42px;
        line-height: 42px;
    }

    .s5 .b-text2 {
        margin-top: 50%;
        margin-bottom: 26%;
        padding-right: 0;
    }

    .b-sect.s5 {
        padding-bottom: 15%;
    }

    .s6 .b-order {
        padding-top: 27px;
    }

    .a-bron.a1 {
        margin-top: 58px;
    }

    .a-bron.a2 {
        margin-top: 30px;
    }

    .a-bron_img {
        margin-bottom: 7%;
        position: relative;
    }

    span.a-bron_tit {
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 3px;
    }

    .a-bron_txt {
        font-size: 10px;
        line-height: 1;
        margin-bottom: 0;
        position: relative;
        padding-left: 6px;
    }

    .a-bron_pice {
        font-weight: bold;
        font-size: 16px;
        margin-top: 17px;
    }

    .s7 h3 {
        margin-top: 25%;
        margin-bottom: 44%;
        line-height: .65;
    }

    .s7 .b-text2 {
        margin-top: 33%;
        margin-bottom: 17%;
        padding-right: 0;
    }

    .s8 h3 {
        color: #ffd87a;
        margin-left: -11px;
        text-align: left;
        margin-bottom: 10.8%;
        margin-top: 0;
        line-height: .65;
    }

    .s7 {
        padding-top: 40px;
        padding-bottom: 6.8%;
    }

    .b-sect.s8 {
        margin-top: 0;
        padding-bottom: 5.2%;
        padding-top: 0;
    }

    .s9 h4 {
        line-height: 72px;
        margin-top: 26%;
        margin-bottom: 31%;
        margin-left: 0;
    }

    .a-event {
        background-color: #fff;
        padding: 8% 7% 10% 7%;
        width: 100%;
        outline: none !important;
    }

    .a-event_time {
        float: left;
        font-size: 10px;
    }

    .a-event_date {
        float: right;
        font-size: 10px;
        line-height: 1;
    }

    .a-event_month {
        font-size: 20px;
        margin-top: 33px;
        margin-bottom: -4px;
    }

    .a-event_day {
        font-size: 110px;
        margin-bottom: 4px;
    }

    span.a-event_title {
        font-size: 10px;
        line-height: 16px;
    }

    .slider5_item_in {
        width: 110%;
        height: 100%;
        position: relative;
        margin-left: -5%;
    }

    .s10 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .slider5_item, #slider5 {
        height: 496px;
    }

    .s11 .b-order.abs {
        position: absolute;
        top: 22%;
        right: 15px;
    }

    .event_autor_img {

        width: 70%;

        margin-bottom: 10px;
    }

    .event_autor_img img {
        max-width: 100%;
        height: auto;
    }

    .event_autor_name {
        font-size: 20px;
        line-height: 1.46;
        letter-spacing: -1px;
    }

    .s11 .b-text2 {
        margin-top: 18%;
        margin-bottom: 177px;
        padding-right: 10%;
        line-height: 1.6;
    }

    .s11 h4 {
        margin-top: 0;
        margin-bottom: 11%;
    }

    .s11 {
        padding-bottom: 0;
    }

    .b-photo_txt {
        font-size: 10px;
        line-height: 16px;
        margin-bottom: -15px;
        position: relative;
        z-index: 50;
    }

    .b-photo_txt b {
        font-size: 14px;
    }

    .slider3 .slick-dots {
        bottom: -16px;
    }

    .s12 h4 {
        margin-top: 0;
        margin-bottom: -54px;
    }

    .s13 h2 {
        margin-top: 26%;
        margin-left: 0;
        letter-spacing: -3px;
        line-height: .63;
        margin-bottom: 39%;
    }

    .s13 .b-img.i2 {
        top: 13%;
        left: 0;
    }

    .s13 .figur3.f1 {
        width: 58%;
        height: 108%;
        top: 13%;
        left: auto;
        right: 0;
    }

    .s13 .wrap {
        padding-bottom: 7%;
    }

    .s13 {
        padding-bottom: 0;
    }

    .s14 b {
        font-size: 14px;
    }

    .s9 .b-img.i1 {
        top: 24%;
        right: auto;
        left: 55.2%;
    }

    .figur8 {
        width: 56%;
        top: 16px;
        right: 6%;
    }

    .s9 .figur2 {
        width: 74.5%;
        height: 84%;
        left: auto;
        right: 4%;
        top: 40px;
    }

    .slick-arrow {
        width: 30px;
        height: 30px;
        background-size: 70%;
    }

    .slick-next.slick-arrow {
        top: 270px;
        right: -60px;
    }

    .slick-prev.slick-arrow {
        bottom: 0;
        left: -60px;
    }

    #slider5 .slick-next.slick-arrow {
        top: 40%;
        right: -98%;
    }

    #slider5 .slick-prev.slick-arrow {
        top: 55%;
        left: -98%;
    }

    .s7 .b-img.i2 {
        top: 15%;
        left: 1%;
    }

    .close-frm {
        width: 30px;
        height: 30px;
        -webkit-background-size: 55%;
        background-size: 55%;
    }

    .no800 {
        display: none;
    }

    .lab_pos {
        position: absolute;
        top: -33px;
        left: 0;
    }

    #formAbon .lab_pos {
        left: 15px;
    }

    .col-md-8.text-right input.frm-date {
        width: 79%;
    }

    .frm-inp, textarea.frm-inp, input.frm-inp {
        margin-bottom: 20px;
    }

    #formAbon .frm-inp.frm-date {
        width: 79%;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 600px) {

    #menumid2 li {
        display: block;
        margin-right: 0;
        margin-bottom: 4px;
    }

    .figur3 {
        width: 100%;
        height: 20%;
        top: 74%;
        left: 0;
    }

    .b-sect.s1 {
        margin-top: -39px;
    }

    .only600 {
        display: block;
    }

    h4 .only600 {
        display: inline-block;
    }

    .no600 {
        display: none !important;
    }

    .slider_wrap {
        height: 210px;
        overflow: hidden;
        position: relative;
        z-index: 20;
    }

    .slider3 .slick-slide {
        overflow: hidden;
        height: 210px;
    }

    .slick-dots li {
        margin-left: 7px;
        margin-right: 7px;
    }

    .slider3 .slick-slide .slider3_item_in {
        -webkit-transform: translate(-30px, 59px);
        -moz-transform: translate(-30px, 59px);
        -ms-transform: translate(-30px, 59px);
        -o-transform: translate(-30px, 59px);
        transform: translate(-17px, 59px);
        height: 162px;
        width: 108%;
        margin-left: -4%;
    }

    .slider3 .slick-current .slider3_item_in, .slider3 .slick-active .slider3_item_in {
        -webkit-transform: translate(0, 31px);
        -moz-transform: translate(0, 31px);
        -ms-transform: translate(0, 31px);
        -o-transform: translate(0, 31px);
        transform: translate(0, 31px);
        height: 162px;
    }

    .slider3 .slick-current ~ .slick-slide .slider3_item_in, .slider3 .slick-active ~ .slick-slide .slider3_item_in {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(17px, 0);
        height: 162px;
    }

    .slick-next.slick-arrow {
        top: 255px;
        right: -76px;
    }

    .slide2 {
        padding-top: 2%;
    }

    body {
        font-size: 12px;
        /* overflow: hidden; */
    }

    .menutop {
        display: none;
    }

    .b-phone {
        /* display: none; */
    }

    .fxt .b-phone {
        display: block;
    }

    .menu-mobile {
        display: block;
    }

    .menu-mobile i {
        display: block;
        border-bottom: 3px solid #ea2c2c;
        width: 23px;
        margin-top: 6px;
    }

    .menutop,
    .fxt .menutop {
        top: 92px;
    }

    .menutop {
        top: 77px;
    }

    .menutop:before,
    .fxt .menutop:before {
        content: '';
        position: absolute;
        left: 0;
        top: -5px;
        width: 100%;
        height: 5px;
        background-color: #fff;
    }

    .menutop li:last-child,
    .fxt .menutop li:last-child {
        margin-bottom: 0;
    }

    .menutop li:last-child a,
    .fxt .menutop li:last-child a {
        border-bottom: none;
        margin-bottom: 0;
    }

    .menu-mobile.open i:nth-child(3) {
        margin-top: -3px;
        width: 22px;
    }

    .container {
        width: 91%;
    }

    .a-logo {
        width: 63px;
        height: 68px;
        margin-top: 2%;
        margin-right: 0;
        position: absolute;
        left: -6%;
        top: 0;
    }

    .a-mail, .a-phone {
        font-size: 14px;
    }

    header.fxt .a-logo {
        width: 33px;
        height: 36px;
        margin-bottom: 8px;
        margin-top: 2px;
        left: 20%;
    }

    header.open .a-logo {
        width: 60px;
        height: 65px;
        margin-bottom: 8px;
        margin-top: 2px;
        left: -11%;
    }

    header.fxt .b-phone {
        margin-top: 14px;
    }

    .menu-mobile {
        margin-top: -4px;
        width: 30px;
    }

    h4, h3, h2, h1 {
        font-size: 65px;
        line-height: 50px;
        margin-top: 16%;
        margin-bottom: 6%;
        margin-left: 0;
        letter-spacing: .2px;
    }

    .line.h {
        height: 3px;
    }

    .line.v {
        width: 3px;
    }

    .slick-dots button {
        width: 10px;
        border-bottom: 3px solid #dddddd;
    }

    .b-sect.s2 {
        padding-top: 0;
    }

    .b-text {
        font-size: 20px;
        line-height: 28px;
    }

    .b-img {
        width: 150px;
        height: 150px;
    }

    .menumid {
        margin-top: 11%;
        margin-bottom: 11%;
    }

    .menumid li {
        display: inline-block;
        margin-right: 7%;
    }

    .menumid a {
        font-size: 20px;
    }

    .b-img.i1 {
        top: 4.5%;
        right: -12.6%;
    }

    .figur2 {
        border: 3px solid #e6f0f4;
        width: 92%;
        left: 4%;
        height: 86%;
    }

    .b-ico {
        margin-bottom: 20%;
    }

    .s3 h2 {
        margin-top: 47%;
        margin-bottom: 2%;
        line-height: .70;
    }

    .figur2.f1 {
        width: 90%;
        left: 50%;
        height: 48.5%;
        top: 1%;
    }

    .b-text2 {
        margin-top: 18%;
        margin-bottom: 46%;
        padding-right: 0;
        font-size: 12px;
        line-height: 20px;
    }

    .figur7.f1 {
        top: 25.2%;
        right: 0;
        height: 26px;
        width: 14%;
    }

    .figur3.f1 {
        width: 71.1%;
        height: 13.6%;
        top: 3%;
        left: 52%;
    }

    .s4 h3 {
        margin-top: 7%;
        margin-bottom: 34%;
    }

    .a-abon {
        padding: 18px 16px 0 32px;
        width: 72%;
        margin-left: 0;
        height: 76px;
        float: right;
        margin-bottom: 30px;
    }

    span.a-abon_tit {
        margin-bottom: 2px;
        font-size: 14px;
    }

    .a-abon.a3:before,
    .a-abon.a4:before,
    .a-abon.a2:before,
    .a-abon:before {
        width: 76px;
        height: 76px;
        right: 103%;
        top: 10%;
        background-color: #fff;
        background-size: 80%;
    }

    .a-abon.a3:before,
    .a-abon.a4:before {
        background-size: 70%;
    }

    .a-abon:hover .a-abon_pice {
        background-color: #ea2c2c;
    }

    .a-abon:hover:before {
        opacity: 1;
    }

    .a-bron_img:after {
        height: 3px;
    }

    .b-sect.s4 {
        margin-top: 0;
        padding-bottom: 11%;
        padding-top: 0;
    }

    .s5 h3 {
        margin-top: 27%;
        margin-bottom: 5%;
        margin-left: 0;
        line-height: 0.68;
    }

    .figur5 {
        top: 18%;
        width: 36%;
        height: 34%;
    }

    .s6 h3 {
        color: #ffd87a;
        margin-left: 0;
        margin-top: 9%;
        margin-bottom: 41%;
        line-height: .70;
    }

    .s10 .container {
        max-width: 100%;
    }

    .b-ico_img {
        height: 51px;
        margin-bottom: 6px;
    }

    .b-ico_tit {
        margin-bottom: 4px;
        font-size: 12px;
    }

    .b-ico_txt {
        font-size: 10px;
        line-height: 16px;
    }

    .b-ico.v2 {
        text-align: center;
        margin-bottom: 43px;
    }

    .b-ico.v2 .b-ico_img {
        margin-bottom: -8px;
        height: 57px;
    }

    .b-ico.v2 .b-ico_tit {
        font-size: 12px;
        line-height: 1.3;
    }

    .b-sect.s3 {
        padding-bottom: 18%;
        padding-top: 0;
    }

    .b-order {
        float: none;
        text-align: right;
        padding-top: 20px;
        margin-right: -10px;
        padding-right: 10px;
    }

    .b-order_tit {
        margin-bottom: 13px;
        font-size: 10px;
    }

    .b-order_phone {
        font-size: 14px;
        line-height: 1;
    }

    .b-but {
        background-color: #ea2c2c;
        width: 100%;
        line-height: 60px;
        height: 60px;
        letter-spacing: 1px;
        font-size: 14px;
    }

    .a-abon_txt {
        font-size: 10px;
        line-height: 1.6;
        display: none !important;
    }

    .a-abon_pice {

        height: auto;
        line-height: 1.2;
        background-color: transparent;
        text-align: left;
        position: relative;
        font-weight: normal;
    }

    .s5 .b-text2 {
        margin-top: 14%;
        margin-bottom: 17%;
        padding-right: 0;
    }

    .b-sect.s5 {
        padding-bottom: 15%;
    }

    .s6 .b-order {
        padding-top: 43px;
        padding-bottom: 37px;
    }

    .a-bron.a1 {
        margin-top: 0;
    }

    .a-bron.a2 {
        margin-top: 0;
    }

    .a-bron_img {
        margin-bottom: 9%;
        position: relative;
        width: 44%;
        float: left;
        margin-right: 10%;
    }

    span.a-bron_tit {
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 7px;
    }

    .a-bron_txt {
        font-size: 10px;
        line-height: 1;
        margin-bottom: 0;
        position: relative;
        padding-left: 6px;
    }

    .a-bron_pice {
        font-weight: bold;
        font-size: 16px;
        margin-top: 23px;
    }

    .s8 span.a-bron_tit {
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: -5px;
    }

    .s8 .a-bron_txt {
        font-size: 10px;
        line-height: 1;
        margin-bottom: 5px;
        position: relative;
        padding-left: 6px;
    }

    .s8 .a-bron_pice {
        font-weight: bold;
        font-size: 16px;
        margin-top: 15px;
    }

    .s7 h3 {
        margin-top: 23%;
        margin-bottom: 10%;
        line-height: .65;
        margin-left: 0;
    }

    .s7 .b-text2 {
        margin-top: 12%;
        margin-bottom: 7%;
        padding-right: 0;
    }

    .s8 h3 {
        color: #ffd87a;
        margin-left: 0;
        text-align: left;
        margin-bottom: 40.8%;
        margin-top: 9%;
        line-height: .65;
    }

    .s7 {
        padding-top: 30px;
        padding-bottom: 6.8%;
    }

    .b-sect.s8 {
        margin-top: 0;
        padding-bottom: 13.2%;
        padding-top: 0;
    }

    .s9 h4 {
        line-height: .7;
        margin-top: 36%;
        margin-bottom: 31%;
        margin-left: 3px;
    }

    .a-event {
        background-color: #fff;
        padding: 8% 7% 10% 7%;
        width: 100%;
        outline: none !important;
    }

    .a-event_time {
        float: left;
        font-size: 10px;
    }

    .a-event_date {
        float: right;
        font-size: 10px;
        line-height: 1;
    }

    .a-event_month {
        font-size: 20px;
        margin-top: 33px;
        margin-bottom: -4px;
    }

    .a-event_day {
        font-size: 110px;
        margin-bottom: 4px;
    }

    span.a-event_title {
        font-size: 10px;
        line-height: 16px;
    }

    .slider5_item_in {
        width: 110%;
        height: 100%;
        position: relative;
        margin-left: -5%;
    }

    .s10 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .slider5_item, #slider5 {
        height: 496px;
    }

    .s11 .b-order.abs {
        position: absolute;
        top: 22%;
        right: 15px;
    }

    .event_autor_img {
        width: 45%;
        margin-bottom: 10px;
    }

    .event_autor_img img {
        max-width: 100%;
        height: auto;
    }

    .event_autor_name {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -1px;
        padding-left: 38%;
        margin-top: -77px;
    }

    .s11 .b-text2 {
        margin-top: 13%;
        margin-bottom: 7%;
        padding-right: 10%;
        line-height: 1.6;
    }

    .s11 h4 {
        margin-top: 0;
        margin-bottom: 11%;
        white-space: nowrap;
    }

    .s11 {
        padding-bottom: 14%;
    }

    .b-photo_txt {
        font-size: 10px;
        line-height: 16px;
        margin-bottom: -15px;
        position: relative;
        z-index: 50;
    }

    .b-photo_txt b {
        font-size: 14px;
    }

    .slider3 .slick-dots {
        bottom: -18px;
    }

    .s12 h4 {
        margin-top: 0;
        margin-bottom: -27px;
        text-align: right;
    }

    .s13 h2 {
        margin-top: 26%;
        margin-left: 0;
        letter-spacing: -3px;
        line-height: .63;
        margin-bottom: 39%;
    }

    .s13 .b-img.i2 {
        top: 31%;
        left: -7%;
    }

    .s13 .figur3.f1 {
        width: 58%;
        height: 108%;
        top: 13%;
        left: auto;
        right: 0;
        /* display: none; */
        opacity: 0;
    }

    .s13 .wrap {
        padding-bottom: 7%;
    }

    .s13 {
        padding-bottom: 0;
    }

    .s14 b {
        font-size: 14px;
    }

    .s9 .b-img.i1 {
        top: 9%;
        right: auto;
        left: 64.2%;
    }

    .figur8 {
        width: 76%;
        top: 0;
        right: -13%;
        background-color: #fff;
    }

    .s9 .figur2 {
        width: 74.5%;
        height: 84%;
        left: auto;
        right: 4%;
        top: 40px;
    }

    .slick-arrow {
        display: none !important;
    }



    .s7 .b-img.i2 {
        top: 13%;
        left: -10%;
    }

    .close-frm {
        width: 30px;
        height: 30px;
        -webkit-background-size: 55%;
        background-size: 55%;
    }

    .no800 {
        display: none;
    }

    .lab_pos {
        position: absolute;
        top: -33px;
        left: 0;
    }

    #formAbon .lab_pos {
        left: 15px;
    }

    .col-md-8.text-right input.frm-date {
        width: 80%;
    }

    .frm-inp, textarea.frm-inp, input.frm-inp {
        margin-bottom: 20px;
    }

    #formAbon .frm-inp.frm-date {
        width: 82%;
    }

    .select.b-city {
        display: none;
    }

    #l16 {
        display: none !important;
    }

    #for_city .select2 {
        display: none;
    }

    .a-login {
        font-size: 14px;
        line-height: 1;
    }

    header {
        padding-top: 45px;
        height: 120px;
    }

    .figur5,
    .figur7 {
        display: none;
    }

    .b-sect.s9 {
        background-color: #e6f0f4;
    }

    .s13 .figur2.f1 {
        width: 95%;
        left: 50%;
        height: 105%;
        top: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .cnt_bt {
        margin-bottom: 12px;
    }

    #l46,
    #l26 {
        z-index: 1;
    }

    #l47,
    #l46 {
        z-index: 20;
    }

    #l48,
    #l33,
    #l25,
    #l1,
    #l2,
    #l8,
    #l3 {
        opacity: 0 !important;
        z-index: -100;
    }

    .b-frmpop {
        position: fixed;
        z-index: 1001;
        top: 50%;
        left: 50%;
        background-color: #e6f0f4;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: 4px solid #fff;
        width: 600px;
        max-width: 94%;
        max-height: 90vh;
        height: auto;
        padding-top: 61px;
        padding-bottom: 66px;
        text-align: center;
    }

    .frm-inp, textarea.frm-inp, input.frm-inp {
        padding-left: 20px;
        width: 100%;
    }

    input.frm-time{
        padding-left: 0;
    }

    .b-frmpop .select2 {
        margin-bottom: 20px;
    }

    .b-frmpop {
        overflow: auto;
    }

    .s14 .figur3.f1 {
        width: 35.1%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .main_600 img {
        width: 100%;
    }

    .s5 .b-img.i1 {
        top: 10%;
        right: -10%;
    }

    .s5 .figur2 {
        width: 92%;
        height: 93.5%;
        left: 4%;
        top: 37px;
        z-index: 1;
    }

    .figur6 {
        display: none;
    }

    .btm_ord {

    }

    .b-order.btm_ord {
        width: 90%;
        margin: -36px auto 32px;
    }

    .menumid.m2 {
        margin-top: 4%;
        margin-bottom: 0;
        position: relative;
        z-index: 15;
    }

    .s14 .figur3.f1 {
        display: block;
    }

    header.fxt {
        height: 66px;
    }

    header.fxt.open {
        height: 120px;
        padding-top: 20px;
    }

    .for_city_mob {
        position: fixed;
        top: 152px;
        left: 3vw;
        z-index: -1;
    }

    header.open .for_city_mob {
        z-index: 160;
    }

    header.open #for_city .select2 {
        display: block;
    }

    .select2-container--default .select2-selection--single {
        background-color: #e6f0f4;
    }

    .b-frmpop .select2-container--default .select2-selection--single {
        background-color: #fff;
    }

    #for_city .select2-container--default .select2-selection--single .select2-selection__arrow {
        background-color: #e6f0f4;
    }

    .frm-group {
        margin-bottom: 20px;
    }
}

