<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Sreda - Coworking</title>
    <meta name="description" content="Sreda - Coworking">
    <meta name="keywords" content="Sreda,Coworking">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">-->

    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">

    {{styles}}
</head>
<body id="top">

<div id="bPage">

    <header id="headerID">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-5 col-md-4">
                    <span class="menu-mobile" id="mobMenu"><i></i><i></i><i></i></span>
                    <ul class="menutop" id="menutopID">
                        <li class="active"><a href="#about">О нас</a></li>
                        <li><a href="#coworking">Коворкинг</a></li>
                        <li><a href="#meeting-rooms">Переговорные</a></li>
                        <li><a href="#conference-rooms">Конференц-залы</a></li>
                        <li><a href="#events">События</a></li>
                        <li><a href="#contacts">Контакты</a></li>
                    </ul>
                </div>
                <div class="col-2 col-md-4 text-center">
                    <a href="#top" class="a-logo"></a>
                </div>
                <div class="col-5 col-md-4 h100">
                    <div class="head_right">
                        <div class="head_right_top" id="for_city">
                            <span class="for_city_mob">
                                <select name="city" id="city" class="b-city" title="Город" style="width:  170px;">
                                    <option value="г.Новосибирск">г. Новосибирск</option>
                                    <option value="г.Омск">г. Москва</option>
                                    <option value="г.Омск">г. Омск</option>
                                </select>
                            </span>
                            <a href="#formLogin" class="a-login js-open">Вход</a>
                        </div>
                        <div class="b-phone">
                            <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a><br>
                            <a href="mailto:info@sredacoworking.com" class="a-mail">info@sredacoworking.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="b-sect s1">
        <div class="wrap">
            <div id="slider1" class="slider1 no600" data-start_slide="2">
                <div class="slider1_item">
                    <a href="#"><img src="img/slide.png" alt=""></a>
                </div>
                <div class="slider1_item">
                    <a href="#"><img src="img/slide.png" alt=""></a>
                </div>
                <div class="slider1_item">
                    <a href="#"><img src="img/slide.png" alt=""></a>
                </div>
                <div class="slider1_item">
                    <a href="#"><img src="img/slide.png" alt=""></a>
                </div>
                <div class="slider1_item">
                    <a href="#"><img src="img/slide.png" alt=""></a>
                </div>
            </div>
            <a href="#formLogin" class="only600 main_600 js-open" id="for_line_4">
                <img src="img/slide_mob.png" alt="">
            </a>
        </div>
        <div class="s1_bottom" id="s1_bottom"></div>
    </section>

    <section id="about" class="b-sect s2">
        <div class="wrap">
            <div class="figur2"></div>
            <div class="figur3" id="for_line4"></div>
            <div class="b-img i1"><img src="img/i1.png" alt=""></div>
            <div class="container">
                <div class="row">

                    <div class="col-md-11 offset-md-1 offset-xl-2 offset-sm-1">
                        <h1>О нас</h1>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xl-4 offset-sm-5 col-10 offset-2">
                        <div class="b-text">
                            <p>Заботливо создали <br> среду обитания для <br> творческих умов!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11 offset-md-1 offset-xl-2">
                        <ul class="menumid" id="menumid">
                            <li class="active"><a href="#">Кто мы</a></li>
                            <li><a href="#">Для кого</a></li>
                            <li><a href="#">Почему</a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
        <div class="wrap">
            <div id="slider2" class="slide2">
                <div class="sld2_item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3 offset-sm-1">
                                <img src="img/sreda.jpg" alt="" class="i-resp i-logo_wh">
                            </div>

                            <div class="col-sm-6 offset-sm-1">
                                <div class="who_txt" id="for_line6">
                                    <p>Мы — <a href="#">группа компаний SREDA</a> и постоянные резиденты коворкинга.
                                        Среди
                                        нас —
                                        <a href="#">архитектурное бюро Сергея Пергаева</a>, <a href="">строительная
                                            компания
                                            Artificial</a> и
                                        <a href="#">консалтинговая компания SREDA</a>. Мы искали место для работы, в
                                        котором
                                        хотелось бы совершенствоваться, расти и развиваться вместе с другими
                                        специалистами.
                                        Не найдя его, мы решили создать такое место самостоятельно.</p>
                                    <p>Сейчас коворкинг SREDA — пространство для творчества, создания, развития и
                                        реализации
                                        идей, достижения поставленных целей и расширения горизонтов.</p>
                                    <p>Здесь рождаются и воплощаются в жизнь новые проекты, вырабатываются концепции,
                                        приобретаются и развиваются навыки, создаются коллективы и находятся
                                        специалисты. Мы
                                        создали для этого оптимальную атмосферу — от удобного расположения и
                                        архитектурных
                                        решений до решения проблем с арендой офиса, закупкой мебели и оплатой счетов.
                                        Все
                                        уже готово — дело за тобой.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sld2_item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 offset-lg-3 offset-md-2 offset-sm-1 col-6 offset-0">
                                <div class="b-ico i1">
                                    <div class="b-ico_img"><img src="svg/For_whom_1_freelance.svg" alt=""></div>
                                    <div class="b-ico_tit">Фрилансер</div>
                                    <div class="b-ico_txt">
                                        <p>Дизайнеры, архитекторы,<br> IT- специалисты, маркетологи,<br> копирайтеры,
                                            SMM-специалисты&nbsp;—<br> все те, кто работает удаленно</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-6">
                                <div class="b-ico i2">
                                    <div class="b-ico_img"><img src="svg/For_whom_2_team.svg" alt=""></div>
                                    <div class="b-ico_tit">Команда</div>
                                    <div class="b-ico_txt">
                                        <p>Группы разработки, стартапы <br>и коллективы, работающие <br> небольшими
                                            командами
                                            <br>от 3 до 8 человек</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 offset-lg-5 offset-md-4 offset-sm-3 col-6">
                                <div class="b-ico i1">
                                    <div class="b-ico_img"><img src="svg/For_whom_3_company.svg" alt=""></div>
                                    <div class="b-ico_tit">Компания</div>
                                    <div class="b-ico_txt">
                                        <p>Автономные отделы,<br> обособленные подразделения и компании</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="b-ico i2">
                                    <div class="b-ico_img"><img src="svg/For_whom_4_manager.svg" alt=""></div>
                                    <div class="b-ico_tit">Организатор</div>
                                    <div class="b-ico_txt">
                                        <p>Лекторы, спикеры, организаторы<br> тренингов, переговоров,<br> конференций и
                                            мастер-классов&nbsp;—<br> все, кому есть чем поделиться <br>с аудиторией</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sld2_item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 offset-md-1 col-6">
                                <div class="b-ico i1">
                                    <div class="b-ico_img"><img src="svg/Why_1_atmosphere.svg" alt=""></div>
                                    <div class="b-ico_tit">Атмосфера</div>
                                    <div class="b-ico_txt">
                                        <p>Полноценная среда для развития <br>и реализации творческих идей, <br>в
                                            которой
                                            можно как устроить мозговой<br> штурм, так и спокойно продумать<br>
                                            концепцию
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4  col-6">
                                <div class="b-ico i2">
                                    <div class="b-ico_img"><img src="svg/Why_2_economy.svg" alt=""></div>
                                    <div class="b-ico_tit">Экономия</div>
                                    <div class="b-ico_txt">
                                        <p>Счета за свет, аренда и ремонт <br>офиса, мебель, уборка — каждая из<br> этих
                                            мелочей крадет время, сбивает<br> настрой и мешает работать. Все эти<br>
                                            вопросы
                                            уже решены. Кроме того,<br> коворкинг для команд из 8–10<br> человек
                                            выгоднее
                                            офиса со всеми<br> расходами. Мы посчитали :) </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3  col-6">
                                <div class="b-ico i2">
                                    <div class="b-ico_img"><img src="svg/Why_3_discipline.svg" alt=""></div>
                                    <div class="b-ico_tit">Дисциплина</div>
                                    <div class="b-ico_txt">
                                        <p>Офис давит регламентами <br>и рамками, а работа из дома<br> недостаточно
                                            продуктивна. <br>А когда атмосфера располагает <br>к творчеству, люди вокруг<br>
                                            увлечены работой и развивают<br> масштабные проекты —<br> появляется
                                            серьезный
                                            стимул <br>к действию</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 offset-md-3 offset-sm-1  col-6">
                                <div class="b-ico i1">
                                    <div class="b-ico_img"><img src="svg/Why_4_communication.svg" alt=""></div>
                                    <div class="b-ico_tit">Общение</div>
                                    <div class="b-ico_txt">
                                        <p>Одна голова — хорошо? <br>Отнюдь. Обширный коллектив<br> специалистов из
                                            разных
                                            областей<br> поможет посмотреть на идею <br>с разных сторон, оценить ее <br>и
                                            принять удачное решение</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-6">
                                <div class="b-ico i2">
                                    <div class="b-ico_img"><img src="svg/Why_5_development.svg" alt=""></div>
                                    <div class="b-ico_tit">Развитие</div>
                                    <div class="b-ico_txt">
                                        <p>Среди наших резидентов <br>много классных специалистов — <br>мы делимся друг
                                            с
                                            другом<br> опытом, помогаем развиваться,<br> аккумулируем идеи <br>и
                                            совершенствуемся</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="coworking" class="b-sect s3">
        <div class="wrap">
            <div class="figur3 f1"></div>
            <div class="figur2 f1"></div>
            <div class="figur7 f1"></div>
            <div class="b-img i2"><img src="img/i2.png" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 offset-sm-5 col-8 offset-4">
                        <h2 id="for_line8">Ко <br>ворк<br>инг</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11 offset-md-1 offset-xl-2">
                        <ul class="menumid m2" id="menumid2">
                            <li class="active"><a href="#">Фото</a></li>
                            <li><a href="#">Видео</a></li>
                            <li><a href="#">Планировки</a></li>
                            <li><a href="#">3-D тур</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="slider_wrap">
                <div id="slider10">
                    <div class="slider10_item">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-10 col-12  col-xl-8 offset-xl-2 offset-sm-1 offset-0">
                                    <div class="slider3" id="slider3">
                                        /*=include inc_html/slider.html */
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider10_item">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-10 col-12  col-xl-8 offset-xl-2 offset-sm-1 offset-0">
                                    <div class="slider3" id="slider31">
                                        <div class="slider3_item">
                                            <div class="slider3_item_in">
                                            </div>
                                        </div>
                                        <div class="slider3_item for_video">
                                            <div class="slider3_item_in">
                                                <video id="bVideoID" loop="loop" tabindex="0" controls="controls">
                                                    <source src="sreda-1.mp4"
                                                            type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
                                                    Video tag not supported. Download the video <a href="sreda-1.mp4">here</a>.
                                                </video>
                                                <img src="img/slide1.jpg" alt="" id="videoBG">
                                                <a href="#" class="a-play"></a>

                                            </div>
                                        </div>
                                        <div class="slider3_item">
                                            <div class="slider3_item_in">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider10_item">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-10 col-12  col-xl-8 offset-xl-2 offset-sm-1 offset-0">
                                    <div class="slider3" id="slider32">
                                        /*=include inc_html/slider.html */
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider10_item">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-10 col-12  col-xl-8 offset-xl-2 offset-sm-1 offset-0">
                                    <div class="slider3" id="slider33">
                                        <div class="slider3_item">
                                            <div class="slider3_item_in">
                                            </div>
                                        </div>
                                        <div class="slider3_item">
                                            <div class="slider3_item_in"
                                                 data-lazy-bg="img/slide1.jpg"></div>
                                        </div>
                                        <div class="slider3_item">
                                            <div class="slider3_item_in">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-6 offset-sm-5 offset-xl-6 col-xl-5 ">
                        <div class="b-text2" id="for_line12">
                            <p>Здесь рождаются идеи, взлетают стартапы и реализуются планы по захвату мира. :) Все для
                                комфортной работы — от Wi-Fi, столов и оргтехники до пуфов, душа и зон отдыха. А для
                                официальных мероприятий у нас есть конференц-залы и переговорные.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="row">
                            <div class="col-sm-3 col-md-2 col-6 ">
                                <div class="b-ico v2 i1_1">
                                    <div class="b-ico_img"><img src="svg/Conference_1_internet.svg" alt=""></div>
                                    <div class="b-ico_tit">Скоростной <br>интернет</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6 ">
                                <div class="b-ico v2 i1_2">
                                    <div class="b-ico_img"><img src="svg/Coworking_2_copy.svg" alt=""></div>
                                    <div class="b-ico_tit">Копировальная <br>техника</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_3">
                                    <div class="b-ico_img"><img src="svg/Coworking_3_IT-support.svg" alt=""></div>
                                    <div class="b-ico_tit">IT-поддержка</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_4">
                                    <div class="b-ico_img"><img src="svg/Coworking_4_lock.svg" alt=""></div>
                                    <div class="b-ico_tit">Шкафчики для<br> личных вещей</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_5">
                                    <div class="b-ico_img"><img src="svg/Coworking_5_shower.svg" alt=""></div>
                                    <div class="b-ico_tit">Душ</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_6">
                                    <div class="b-ico_img"><img src="svg/Coworking_6_board.svg" alt=""></div>
                                    <div class="b-ico_tit">Маркерные доски</div>
                                </div>
                            </div>

                            <div class="col-sm-3 col-md-2 col-6 offset-md-1">
                                <div class="b-ico v2 i1_7">
                                    <div class="b-ico_img"><img src="svg/Coworking_7_conference.svg" alt=""></div>
                                    <div class="b-ico_tit">Конференцзалы</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_8">
                                    <div class="b-ico_img"><img src="svg/Coworking_8_meeting.svg" alt=""></div>
                                    <div class="b-ico_tit">Переговорные</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_9">
                                    <div class="b-ico_img"><img src="svg/Coworking_9_rest.svg" alt=""></div>
                                    <div class="b-ico_tit">Зоны отдыха</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_10">
                                    <div class="b-ico_img"><img src="svg/Coworking_10_cleaning.svg" alt=""></div>
                                    <div class="b-ico_tit">Ежедневная <br>уборка</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_11">
                                    <div class="b-ico_img"><img src="svg/Coworking_11_coffee.svg" alt=""></div>
                                    <div class="b-ico_tit">Свежий кофе</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="b-sect s4">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xl-5 offset-xl-2">
                        <h3>Або <br>немен <br>ты</h3>
                    </div>
                    <div class="col-sm-6 col-xl-3 no600">
                        <div class="b-order">
                            <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                            <div class="b-order_phone">
                                <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                            </div>
                            <a href="#formAbon" class="b-but js-open">Оставить заявку</a>
                        </div>
                    </div>
                </div>
                <div class="row t-100">
                    <div class="col-sm-3 col-xl-2 offset-xl-2">
                        <a href="#formAbon" class="a-abon a1 js-open">
                            <span class="a-abon_tit">Тестовый день</span>
                            <span class="a-abon_txt">Проездом в городе, а работа не отпускает? Приходи на день, проникнуться атмосферой, порубиться в psp и круто поработать</span>
                            <span class="a-abon_pice">Бесплатно</span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xl-2">
                        <a href="#formAbon" class="a-abon a2 js-open">
                            <span class="a-abon_tit">День</span>
                            <span class="a-abon_txt">Завтра дедлайн и нужно место, чтобы ничего не отвлекало от работы? Приходи, мы обеспечим всем необходимым, включая быстрый интернет, удобный пуфик, душ и цистерну кофе</span>
                            <span class="a-abon_pice">1 000 р</span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xl-2">
                        <a href="#formAbon" class="a-abon a3 js-open">
                            <span class="a-abon_tit">Неделя</span>
                            <span class="a-abon_txt">Семидневная рабочая неделя — лишь с той разницей, что у нас понедельник — день легкий, а в выходные работа продолжается :)</span>
                            <span class="a-abon_pice">4 000 р</span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xl-2">
                        <a href="#formAbon" class="a-abon a4 js-open">
                            <span class="a-abon_tit">Месяц</span>
                            <span class="a-abon_txt">Британские ученые доказали, что месяц работы вместе с нами заменяет несколько мотивационных тренингов, пару мастер-классов и маленький бизнес-форум</span>
                            <span class="a-abon_pice">12 000 р</span>
                        </a>
                    </div>
                    <div class="col-12  only600">
                        <div class="b-order">
                            <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                            <div class="b-order_phone">
                                <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                            </div>
                            <a href="#formAbon" class="b-but js-open">Оставить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="meeting-rooms" class="b-sect s5">
        <div class="wrap">
            <div class="figur2"></div>
            <div class="figur5" id="for_line_18"></div>
            <div class="figur6"></div>
            <div class="b-img i1"><img src="img/i1.png" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-xl-2 col-md-7 offset-sm-1">
                        <h3 id="for_line_15">Пере<br>говор<br>ные</h3>
                    </div>
                </div>
            </div>

            <div class="slider_wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-12  col-xl-8 offset-xl-2 offset-sm-1 offset-0">
                            <div class="slider3" id="slider8">
                                /*=include inc_html/slider.html */
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 offset-sm-5 col-xl-4 offset-xl-6">
                        <div class="b-text2" id="for_line_21">
                            <p>Театр начинается с вешалки, а крутой проект —с эскизов на маркерной доске. :) И в наших
                                переговорных они есть. А помимо досок — все для проведения презентаций, переговоров и
                                митапов — удобная мебель, аудиосистема, интернет и широкоформатные мониторы.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-3">
                    <div class="row">
                        <div class="col-sm-3 col-md-2 offset-md-2 offset-xl-0 col-xl-3 col-6">
                            <div class="b-ico v2 i1_1">
                                <div class="b-ico_img"><img src="svg/Conference_1_internet.svg" alt=""></div>
                                <div class="b-ico_tit">Скоростной <br>интернет</div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-2 col-xl-3 col-6">
                            <div class="b-ico v2 i1_20">
                                <div class="b-ico_img"><img src="svg/Conference_2_audio.svg" alt=""></div>
                                <div class="b-ico_tit">Аудиосистема</div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-2 col-xl-3 col-6">
                            <div class="b-ico v2 i1_21">
                                <div class="b-ico_img"><img src="svg/Meeting_3_display.svg" alt=""></div>
                                <div class="b-ico_tit">Широкоформатны монитор</div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-2 col-xl-3 col-6">
                            <div class="b-ico v2 i1_6">
                                <div class="b-ico_img"><img src="svg/Coworking_6_board.svg" alt=""></div>
                                <div class="b-ico_tit">Маркерные доски</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="b-sect s6">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-xl-5 offset-xl-2">
                        <h3>Брони<br>рова<br>ние</h3>
                    </div>
                    <div class="col-sm-5 col-xl-3 no600">
                        <div class="b-order">
                            <div class="b-order_tit">Оставьте заявку или позвоните:</div>
                            <div class="b-order_phone">
                                <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                            </div>
                            <a href="#formBron" class="b-but js-open">Бронировать</a>
                        </div>
                    </div>
                </div>
                <div class="row t-100">
                    <div class="col-sm-3 col-xl-2 offset-xl-2">
                        <a href="#formBron" class="a-bron a-bron1 a1 js-open">
                            <span class="a-bron_img"><img src="img/bron1.jpg" alt=""></span>
                            <span class="a-bron_tit">Переговорная 1</span>
                            <span class="a-bron_txt">до 8 человек</span>
                            <span class="a-bron_pice">500 Р/час</span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xl-2">
                        <a href="#formBron" class="a-bron a-bron1 a2 js-open">
                            <span class="a-bron_img"><img src="img/bron1.jpg" alt=""></span>
                            <span class="a-bron_tit">Переговорная 2</span>
                            <span class="a-bron_txt">до 8 человек</span>
                            <span class="a-bron_pice">500 Р/час</span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xl-2">
                        <a href="#formBron" class="a-bron a-bron1 a3 js-open">
                            <span class="a-bron_img"><img src="img/bron1.jpg" alt=""></span>
                            <span class="a-bron_tit">Переговорная 3</span>
                            <span class="a-bron_txt">до 8 человек</span>
                            <span class="a-bron_pice">500 Р/час</span>
                        </a>
                    </div>

                    <div class="col-12 only600">
                        <div class="b-order">
                            <div class="b-order_tit">Оставьте заявку или позвоните:</div>
                            <div class="b-order_phone">
                                <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                            </div>
                            <a href="#formBron" class="b-but js-open">Бронировать</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="conference-rooms" class="b-sect s7">
        <div class="wrap">
            <div class="figur5"></div>
            <div class="figur7"></div>
            <div class="figur2"></div>
            <div class="b-img i2"><img src="img/i2.png" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-4 col-10 offset-2 col-xl-7 offset-xl-5">
                        <h3 class="yel sk" id="for_line_23">Конфе<br><span>ренц-</span><br><span>залы</span></h3>
                    </div>
                </div>
            </div>

            <div class="slider_wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-12  col-xl-8 offset-xl-2 offset-sm-1 offset-0">
                            <div class="slider3" id="slider4">
                                /*=include inc_html/slider.html */
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-6 offset-sm-5 offset-xl-6 col-xl-4">
                        <div class="b-text2" id="for_line28">
                            <p>Хотите провести яркую презентацию проекта? Или необходимо место для проведения
                                конференции,
                                бизнес-тренинга или лекции? В нашем конференц-зале уже есть все необходимое для того,
                                чтобы
                                мероприятие прошло удачно. А в лаундж-зоне можно отметить успех!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="row" id="for_line_30">
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_1">
                                    <div class="b-ico_img"><img src="svg/Conference_1_internet.svg" alt=""></div>
                                    <div class="b-ico_tit">Скоростной <br>интернет</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_20">
                                    <div class="b-ico_img"><img src="svg/Conference_2_audio.svg" alt=""></div>
                                    <div class="b-ico_tit">Аудиосистема</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_30">
                                    <div class="b-ico_img"><img src="svg/Conference_3_projector.svg" alt=""></div>
                                    <div class="b-ico_tit">Проектор</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_6">
                                    <div class="b-ico_img"><img src="svg/Coworking_6_board.svg" alt=""></div>
                                    <div class="b-ico_tit">Маркерная доска</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_31">
                                    <div class="b-ico_img"><img src="svg/Conference_5_lounge.svg" alt=""></div>
                                    <div class="b-ico_tit">Лаундж-зона</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-2 col-6">
                                <div class="b-ico v2 i1_32">
                                    <div class="b-ico_img"><img src="svg/Conference_6_wardrobe.svg" alt=""></div>
                                    <div class="b-ico_tit">Гардероб</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="b-sect s8">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xl-10">
                        <h3>Брони<br>рова<br>ние</h3>
                    </div>
                    <div class="b-order abs no600">
                        <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                        <div class="b-order_phone">
                            <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                        </div>
                        <a href="#formBronConf" class="b-but js-open">Бронировать</a>
                    </div>
                </div>
                <div class="row t-100">
                    <div class="col-sm-3 col-xl-2 offset-xl-2">
                        <a href="#formBronConf" class="a-bron a1 js-open a-bron2">
                            <span class="a-bron_img"><img src="img/bron1.jpg" alt=""></span>
                            <span class="a-bron_tit">Малый зал 1</span>
                            <span class="a-bron_txt">40 м<sup>2</sup></span>
                            <span class="a-bron_txt">15 - 35 человек</span>
                            <span class="a-bron_pice">2 000 Р/час</span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xl-2">
                        <a href="#formBronConf" class="a-bron a2 js-open a-bron2">
                            <span class="a-bron_img"><img src="img/bron1.jpg" alt=""></span>
                            <span class="a-bron_tit">Малый зал 2</span>
                            <span class="a-bron_txt">40 м<sup>2</sup></span>
                            <span class="a-bron_txt">15 - 35 человек</span>
                            <span class="a-bron_pice">2 000 Р/час</span>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xl-2">
                        <a href="#formBronConf" class="a-bron a3 js-open a-bron2">
                            <span class="a-bron_img"><img src="img/bron1.jpg" alt=""></span>
                            <span class="a-bron_tit">Средний зал</span>
                            <span class="a-bron_txt">60 м<sup>2</sup></span>
                            <span class="a-bron_txt">35 - 50 человек</span>
                            <span class="a-bron_pice">500 Р/час</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 only600">
                        <div class="b-order ">
                            <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                            <div class="b-order_phone">
                                <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                            </div>
                            <a href="#formBronConf" class="b-but js-open">Бронировать</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="events" class="b-sect s9">
        <div class="wrap">
            <div class="figur2" id="for_line_38"></div>
            <div class="figur8"><p>&nbsp;</p></div>
            <div class="b-img i1"><img src="img/i1.png" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 offset-xl-2 offset-sm-1 offset-md-0">
                        <h4 id="for_line_33"><span>Собы</span><br>тия</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="b-sect s10">
        <div class="wrap">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-sm-4 offset-sm-4 col-8 offset-2">
                        <div class="slider5" id="slider5" data-start_slide="2">
                            <div class="slider5_item">
                                <div class="slider5_item_in">
                                    <a href="#" class="a-event">
                                        <span class="a-event_time">18:00</span>
                                        <span class="a-event_date">Вчера</span>
                                        <span class="a-event_month">Сентябрь</span>
                                        <span class="a-event_day">29</span>
                                        <span class="a-event_title">Сергей Пергаев "О брендинге <br> в архитектуре</span>
                                    </a>
                                </div>
                            </div>
                            <div class="slider5_item">
                                <div class="slider5_item_in">
                                    <a href="#" class="a-event">
                                        <span class="a-event_time">18:00</span>
                                        <span class="a-event_date">Вчера</span>
                                        <span class="a-event_month">Сентябрь</span>
                                        <span class="a-event_day">29</span>
                                        <span class="a-event_title">Сергей Пергаев "О брендинге <br> в архитектуре</span>
                                    </a>
                                </div>
                            </div>
                            <div class="slider5_item">
                                <div class="slider5_item_in">
                                    <a href="#" class="a-event">
                                        <span class="a-event_time">18:00</span>
                                        <span class="a-event_date">Вчера</span>
                                        <span class="a-event_month">Сентябрь</span>
                                        <span class="a-event_day">29</span>
                                        <span class="a-event_title">Сергей Пергаев "О брендинге <br> в архитектуре</span>
                                    </a>
                                </div>
                            </div>
                            <div class="slider5_item">
                                <div class="slider5_item_in">
                                    <a href="#" class="a-event">
                                        <span class="a-event_time">18:00</span>
                                        <span class="a-event_date">Вчера</span>
                                        <span class="a-event_month">Сентябрь</span>
                                        <span class="a-event_day">29</span>
                                        <span class="a-event_title">Сергей Пергаев "О брендинге <br> в архитектуре</span>
                                    </a>
                                </div>
                            </div>
                            <div class="slider5_item">
                                <div class="slider5_item_in">
                                    <a href="#" class="a-event">
                                        <span class="a-event_time">18:00</span>
                                        <span class="a-event_date">Вчера</span>
                                        <span class="a-event_month">Сентябрь</span>
                                        <span class="a-event_day">29</span>
                                        <span class="a-event_title">Сергей Пергаев "О брендинге <br> в архитектуре</span>
                                    </a>
                                </div>
                            </div>
                            <div class="slider5_item">
                                <div class="slider5_item_in">
                                    <a href="#" class="a-event">
                                        <span class="a-event_time">18:00</span>
                                        <span class="a-event_date">Вчера</span>
                                        <span class="a-event_month">Сентябрь</span>
                                        <span class="a-event_day">29</span>
                                        <span class="a-event_title">Сергей Пергаев "О брендинге <br> в архитектуре</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="b-sect s11">
        <div class="wrap">
            <div id="slider7">

                <div class="slider7_item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 offset-xl-2 col-xl-10">
                                <h4>29 сент<span class="only600">.</span><span class="no600">ября</span> <br>18:00</h4>
                            </div>
                            <div class="b-order abs no600">
                                <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                <div class="b-order_phone">
                                    <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                </div>
                                <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                            </div>
                            <div class="col-sm-4 offset-sm-1 offset-xl-2 ">
                                <div class="event_autor">
                                    <div class="event_autor_img">
                                        <img src="img/img.png" alt="">
                                    </div>
                                    <div class="event_autor_name">
                                        Сергей Пергаев «О&nbsp;брендинге в&nbsp;архитектуре»
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 col-xl-4">
                                <div class="b-text2">
                                    <p>Наши офисы — это центр притяжения российских и международных инноваций и идей.
                                        WeWork
                                        позволяет легко общаться с перспективными компаниями и их потрясающими
                                        сотрудниками,
                                        которые
                                        меняют индустрию в нашей стране и за ее пределами. Ищете новое место для своей
                                        компании?
                                        Нужен временный офис для региональных команд? WeWork идеальная точка входа в
                                        российское
                                        бизнес-сообщество</p>
                                </div>
                            </div>
                            <div class="col-12 only600">
                                <div class="b-order">
                                    <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                    <div class="b-order_phone">
                                        <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                    </div>
                                    <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="slider7_item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 offset-xl-2 col-xl-10">
                                <h4>29 сент<span class="only600">.</span><span class="no600">ября</span> <br>18:00</h4>
                            </div>
                            <div class="b-order abs no600">
                                <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                <div class="b-order_phone">
                                    <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                </div>
                                <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                            </div>
                            <div class="col-sm-4 offset-sm-1 offset-xl-2 ">
                                <div class="event_autor">
                                    <div class="event_autor_img">
                                        <img src="img/img.png" alt="">
                                    </div>
                                    <div class="event_autor_name">
                                        Сергей Пергаев «О&nbsp;брендинге в&nbsp;архитектуре»
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 col-xl-4">
                                <div class="b-text2">
                                    <p>Наши офисы — это центр притяжения российских и международных инноваций и идей.
                                        WeWork
                                        позволяет легко общаться с перспективными компаниями и их потрясающими
                                        сотрудниками,
                                        которые
                                        меняют индустрию в нашей стране и за ее пределами. Ищете новое место для своей
                                        компании?
                                        Нужен временный офис для региональных команд? WeWork идеальная точка входа в
                                        российское
                                        бизнес-сообщество</p>
                                </div>
                            </div>
                            <div class="col-12 only600">
                                <div class="b-order">
                                    <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                    <div class="b-order_phone">
                                        <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                    </div>
                                    <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="slider7_item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 offset-xl-2 col-xl-10">
                                <h4>29 сент<span class="only600">.</span><span class="no600">ября</span> <br>18:00</h4>
                            </div>
                            <div class="b-order abs no600">
                                <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                <div class="b-order_phone">
                                    <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                </div>
                                <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                            </div>
                            <div class="col-sm-4 offset-sm-1 offset-xl-2 ">
                                <div class="event_autor">
                                    <div class="event_autor_img">
                                        <img src="img/img.png" alt="">
                                    </div>
                                    <div class="event_autor_name">
                                        Сергей Пергаев «О&nbsp;брендинге в&nbsp;архитектуре»
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 col-xl-4">
                                <div class="b-text2">
                                    <p>Наши офисы — это центр притяжения российских и международных инноваций и идей.
                                        WeWork
                                        позволяет легко общаться с перспективными компаниями и их потрясающими
                                        сотрудниками,
                                        которые
                                        меняют индустрию в нашей стране и за ее пределами. Ищете новое место для своей
                                        компании?
                                        Нужен временный офис для региональных команд? WeWork идеальная точка входа в
                                        российское
                                        бизнес-сообщество</p>
                                </div>
                            </div>
                            <div class="col-12 only600">
                                <div class="b-order">
                                    <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                    <div class="b-order_phone">
                                        <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                    </div>
                                    <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="slider7_item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 offset-xl-2 col-xl-10">
                                <h4>29 сент<span class="only600">.</span><span class="no600">ября</span> <br>18:00</h4>
                            </div>
                            <div class="b-order abs no600">
                                <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                <div class="b-order_phone">
                                    <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                </div>
                                <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                            </div>
                            <div class="col-sm-4 offset-sm-1 offset-xl-2 ">
                                <div class="event_autor">
                                    <div class="event_autor_img">
                                        <img src="img/img.png" alt="">
                                    </div>
                                    <div class="event_autor_name">
                                        Сергей Пергаев «О&nbsp;брендинге в&nbsp;архитектуре»
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 col-xl-4">
                                <div class="b-text2">
                                    <p>Наши офисы — это центр притяжения российских и международных инноваций и идей.
                                        WeWork
                                        позволяет легко общаться с перспективными компаниями и их потрясающими
                                        сотрудниками,
                                        которые
                                        меняют индустрию в нашей стране и за ее пределами. Ищете новое место для своей
                                        компании?
                                        Нужен временный офис для региональных команд? WeWork идеальная точка входа в
                                        российское
                                        бизнес-сообщество</p>
                                </div>
                            </div>
                            <div class="col-12 only600">
                                <div class="b-order">
                                    <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                    <div class="b-order_phone">
                                        <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                    </div>
                                    <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="slider7_item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 offset-xl-2 col-xl-10">
                                <h4>29 сент<span class="only600">.</span><span class="no600">ября</span> <br>18:00</h4>
                            </div>
                            <div class="b-order abs no600">
                                <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                <div class="b-order_phone">
                                    <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                </div>
                                <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                            </div>
                            <div class="col-sm-4 offset-sm-1 offset-xl-2 ">
                                <div class="event_autor">
                                    <div class="event_autor_img">
                                        <img src="img/img.png" alt="">
                                    </div>
                                    <div class="event_autor_name">
                                        Сергей Пергаев «О&nbsp;брендинге в&nbsp;архитектуре»
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 col-xl-4">
                                <div class="b-text2">
                                    <p>Наши офисы — это центр притяжения российских и международных инноваций и идей.
                                        WeWork
                                        позволяет легко общаться с перспективными компаниями и их потрясающими
                                        сотрудниками,
                                        которые
                                        меняют индустрию в нашей стране и за ее пределами. Ищете новое место для своей
                                        компании?
                                        Нужен временный офис для региональных команд? WeWork идеальная точка входа в
                                        российское
                                        бизнес-сообщество</p>
                                </div>
                            </div>
                            <div class="col-12 only600">
                                <div class="b-order">
                                    <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                    <div class="b-order_phone">
                                        <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                    </div>
                                    <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="slider7_item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 offset-xl-2 col-xl-10">
                                <h4>29 сент<span class="only600">.</span><span class="no600">ября</span> <br>18:00</h4>
                            </div>
                            <div class="b-order abs no600">
                                <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                <div class="b-order_phone">
                                    <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                </div>
                                <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                            </div>
                            <div class="col-sm-4 offset-sm-1 offset-xl-2 ">
                                <div class="event_autor">
                                    <div class="event_autor_img">
                                        <img src="img/img.png" alt="">
                                    </div>
                                    <div class="event_autor_name">
                                        Сергей Пергаев «О&nbsp;брендинге в&nbsp;архитектуре»
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 col-xl-4">
                                <div class="b-text2">
                                    <p>Наши офисы — это центр притяжения российских и международных инноваций и идей.
                                        WeWork
                                        позволяет легко общаться с перспективными компаниями и их потрясающими
                                        сотрудниками,
                                        которые
                                        меняют индустрию в нашей стране и за ее пределами. Ищете новое место для своей
                                        компании?
                                        Нужен временный офис для региональных команд? WeWork идеальная точка входа в
                                        российское
                                        бизнес-сообщество</p>
                                </div>
                            </div>
                            <div class="col-12 only600">
                                <div class="b-order">
                                    <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                    <div class="b-order_phone">
                                        <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                    </div>
                                    <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="slider7_item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 offset-xl-2 col-xl-10">
                                <h4>29 сент<span class="only600">.</span><span class="no600">ября</span> <br>18:00</h4>
                            </div>
                            <div class="b-order abs no600">
                                <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                <div class="b-order_phone">
                                    <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                </div>
                                <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                            </div>
                            <div class="col-sm-4 offset-sm-1 offset-xl-2 ">
                                <div class="event_autor">
                                    <div class="event_autor_img">
                                        <img src="img/img.png" alt="">
                                    </div>
                                    <div class="event_autor_name">
                                        Сергей Пергаев «О&nbsp;брендинге в&nbsp;архитектуре»
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 col-xl-4">
                                <div class="b-text2">
                                    <p>Наши офисы — это центр притяжения российских и международных инноваций и идей.
                                        WeWork
                                        позволяет легко общаться с перспективными компаниями и их потрясающими
                                        сотрудниками,
                                        которые
                                        меняют индустрию в нашей стране и за ее пределами. Ищете новое место для своей
                                        компании?
                                        Нужен временный офис для региональных команд? WeWork идеальная точка входа в
                                        российское
                                        бизнес-сообщество</p>
                                </div>
                            </div>
                            <div class="col-12 only600">
                                <div class="b-order">
                                    <div class="b-order_tit">Оставьте заявку или перезвоните:</div>
                                    <div class="b-order_phone">
                                        <a href="tel:+79137832433" class="a-phone">+ 7 (913) 783-24-33</a>
                                    </div>
                                    <a href="#formEvent" class="b-but js-open js-tit">Хочу пойти</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="b-sect s12">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 offset-xl-2 col-xl-10">
                        <h4>Фото<br class="only600">отчет</h4>
                    </div>
                    <div class="col-sm-11 offset-sm-1 offset-xl-2">
                        <div class="b-photo_txt">
                            Фотографии прошедших событий, <br> смотрите в нашей группе <br><b><a href="#">вконтакте</a></b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider_wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-12  col-xl-8 offset-xl-2 offset-sm-1 offset-0">
                            <div class="slider3" id="slider6">
                                /*=include inc_html/slider.html */
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contacts" class="b-sect s13">
        <div class="wrap">
            <div class="figur3 f1" id="for_line_42"></div>
            <div class="figur2 f1"></div>
            <div class="b-img i2"><img src="img/i2.png" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 offset-sm-5 col-8 offset-4">
                        <h2 id="for_line_40">Кон<br>так<br class="no600">ты</h2>
                    </div>

                    <div class="col-md-12 col-xl-11 no600">
                        <div class="b-order">
                            <a href="#formMessage" class="b-but js-open">Написать</a>
                            <div class="b-order_tit">По любым вопрсам <br>и предложениям</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="b-sect s14">
        <div class="figur3 f1"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 offset-sm-1 offset-xl-2">
                    <div class="row">
                        <div class="col-sm-12 col-4">
                            <p>Прийти:</p>
                        </div>
                        <div class="col-sm-12 col-8 cnt_bt">
                            <p>
                                г.Новосибирск <br>
                                <b class="nowrap">ул.Ядринцеваская, д.68/1</b><br>
                                офис 803
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xl-2">
                    <div class="row">
                        <div class="col-sm-12 col-4">
                            <p>Позвонить:</p>
                        </div>
                        <div class="col-sm-12 col-8 cnt_bt">
                            <p><b><a href="tel:+79137832433" class="a-phone">+7 (913) 783-24-33</a></b></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-5">
                    <div class="row">
                        <div class="col-sm-12 col-4">
                            <p>Написать:</p>
                        </div>
                        <div class="col-sm-12 col-8 cnt_bt">
                            <p><b><a href="" class="a-phone">telegram</a></b> <b><a href="" class="a-phone">whats
                                app</a></b> <b><a
                                    href="" class="a-phone">fasebook</a></b> <b><a href="" class="a-phone">vkontakte</a></b>
                            </p>
                            <p><b><a href="mailto:info@sredacoworking.com"
                                     class="a-phone">info@sredacoworking.com</a></b>
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="b-sect s15">
        <div class="col-md-12 col-xl-11 only600">
            <div class="b-order btm_ord">
                <a href="#formMessage" class="b-but js-open">Написать</a>
            </div>
        </div>
    </section>

    <section class="b-sect s16">
        <div id="mapID"></div>
    </section>


    <!-- Popup Forms-->
    <div id="shad"></div>

    <div id="formLogin" class="b-frmpop">
        <a href="#" class="close-frm"></a>
        <div class="b-frmpop_in">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2">

                        <div class="b-frmpop_tit">Привет</div>
                        <ul class="b-frmpop_menu" id="frmpop_menu">
                            <li class="active"><a href="#">Войти</a></li>
                            <li><a href="#">Зарегистрироваться</a></li>
                        </ul>
                        <div id="slider_frm">
                            <div class="slider_frm_itm">
                                <form action="/" id="frmLogin">
                                    <div class="frm-group">
                                        <input type="text" class="frm-inp inp-phone" name="phone"
                                               placeholder="+7 (__) ___-__-__" data-validation="required">
                                        <input type="password" class="frm-inp" name="pass" placeholder="Пароль"
                                               data-validation="required">
                                    </div>

                                    <button type="submit" class="b-but btn_sub">Войти</button>

                                </form>
                            </div>
                            <div class="slider_frm_itm">
                                <form action="/" id="frmRegister">
                                    <div class="frm-group">
                                        <input type="text" class="frm-inp" name="name"
                                               placeholder="Имя">
                                        <input type="text" class="frm-inp" name="email"
                                               placeholder="E-mail">
                                        <input type="text" class="frm-inp inp-phone" name="phone"
                                               placeholder="+7 (__) ___-__-__">
                                        <input type="password" class="frm-inp" name="pass" placeholder="Пароль">
                                        <input type="password" class="frm-inp" name="pass2"
                                               placeholder="Повторите пароль">
                                    </div>

                                    <button type="submit" class="b-but btn_sub">Войти</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="formLogin_Confirm" class="b-frmpop">
        <a href="#" class="close-frm"></a>
        <div class="b-frmpop_in">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">

                        <div class="b-frmpop_tit">Подтверждение</div>
                        <div class="b-frmpop_txt">Почти готово, осталось ввести код подтверждения <br>отправленный на
                            ваш
                            номер телефона
                        </div>

                        <form action="/" id="frmConfirm">
                            <div class="frm-group">
                                <input type="text" class="frm-inp inp-confirm" name="confirm"
                                       placeholder="_ _ _ _">
                            </div>
                            <button type="submit" class="b-but btn_sub">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="formAbon" class="b-frmpop">
        <a href="#" class="close-frm"></a>
        <div class="b-frmpop_in">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">

                        <div class="b-frmpop_tit">Заявка на абонемент</div>
                        <div class="b-frmpop_txt">Заполните форму и мы ответим в течение 15&nbsp;минут
                        </div>

                        <form action="/" id="frmAbon">
                            <div class="frm-group">
                                <div class="row">
                                    <div class=" col-sm-6 order-1">
                                        <input type="text" class="frm-inp " name="name"
                                               placeholder="Имя">
                                    </div>
                                    <div class=" col-sm-6 order-sm-2 order-3 ">
                                        <select name="type" id="abonSelect" class="frm-inp js-select1"
                                                style="width: 100%"
                                                data-select2-id="1" title="">
                                            <option value="Тестовый день">Тестовый день</option>
                                            <option value="День">День</option>
                                            <option value="Неделя">Неделя</option>
                                            <option value="Месяц">Месяц</option>
                                        </select>
                                    </div>

                                    <div class=" col-sm-6 order-sm-3 order-2">
                                        <input type="text" class="frm-inp " name="email"
                                               placeholder="E-mail">
                                    </div>
                                    <div class=" col-sm-6 text-right nowrap  order-4">
                                        <label for="frmDate1" class="lab_date lab_pos">Начну коворкать</label>
                                        <input type="text" class="frm-inp frm-date" id="frmDate1" name="date"
                                               placeholder="" value="8 марта">
                                        <a href="#frmDate1" class="a-fore-date"></a>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="b-but btn_sub">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="formAbon_Confirm" class="b-frmpop">
        <a href="#" class="close-frm"></a>
        <div class="b-frmpop_in">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">
                        <div class="b-frmpop_tit">Заявка отправлена</div>
                        <div class="b-frmpop_txt">Ждем тебя по адресу: Ленина 31, 2 этаж
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="formBron" class="b-frmpop y">
        <a href="#" class="close-frm"></a>
        <div class="b-frmpop_in">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">

                        <div class="b-frmpop_tit">Бронирование переговорной</div>
                        <div class="b-frmpop_txt">Заполните форму и мы ответим в течение 15 минут
                        </div>

                        <form action="/" id="frmBron">
                            <div class="frm-group">
                                <div class="row">
                                    <div class=" col-sm-6 order-1">
                                        <input type="text" class="frm-inp " name="name"
                                               placeholder="Имя">
                                    </div>
                                    <div class=" col-sm-6 order-sm-2 order-4">
                                        <select name="type" class="frm-inp js-select" style="width: 100%"
                                                data-select2-id="2" title="" id="bronSelect">
                                            <option value="Переговорная 1">Переговорная 1</option>
                                            <option value="Переговорная 2">Переговорная 2</option>
                                            <option value="Переговорная 3">Переговорная 3</option>
                                        </select>
                                    </div>

                                    <div class=" col-sm-6 order-sm-3 order-2">
                                        <input type="text" class="frm-inp " name="email"
                                               placeholder="E-mail">
                                    </div>
                                    <div class=" col-sm-6 order-sm-4 order-5">
                                        <div class="row">
                                            <label class="col-md-4 lab_pos" for="frmDate2">Когда</label>
                                            <div class="col-md-8 text-right">
                                                <input type="text" class="frm-inp frm-date" id="frmDate2" name="date"
                                                       placeholder="" value="8 марта">
                                                <a href="#frmDate2" class="a-fore-date"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" col-sm-6 order-sm-5 order-3">
                                        <input type="text" class="frm-inp inp-phone" name="phone"
                                               placeholder="+7 (___) ___-__-__">
                                    </div>
                                    <div class=" col-sm-6 order-6">
                                        <div class="row">
                                            <label for="frmTime1" class="col-md-4 lab_pos">На сколько</label>
                                            <div class="col-md-8 text-left">
                                                <input type="text" class="frm-inp frm-time" id="frmTime1" name="time1"
                                                       placeholder="00:00" value=""> <span class="sp-t">—</span>
                                                <input type="text" class="frm-inp frm-time" id="frmTime2" name="time2"
                                                       placeholder="00:00" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="b-but btn_sub">Забронировать</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="formBron_Confirm" class="b-frmpop y">
        <a href="#" class="close-frm"></a>
        <div class="b-frmpop_in">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">
                        <div class="b-frmpop_tit">Заявка отправлена</div>
                        <div class="b-frmpop_txt">Успешных переговоров!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="formBronConf" class="b-frmpop y">
        <a href="#" class="close-frm"></a>
        <div class="b-frmpop_in">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">

                        <div class="b-frmpop_tit">Бронирование конференц-зала</div>
                        <div class="b-frmpop_txt">Заполните форму и мы ответим в течение 15 минут
                        </div>

                        <form action="/" id="frmBronConf">
                            <div class="frm-group">
                                <div class="row">
                                    <div class=" col-sm-6 order-1">
                                        <input type="text" class="frm-inp " name="name"
                                               placeholder="Имя">
                                    </div>
                                    <div class=" col-sm-6 order-sm-2 order-4">
                                        <select name="type" class="frm-inp js-select" style="width: 100%"
                                                data-select2-id="3" title="" id="selectBronConf">
                                            <option value="Малый зал 1">Малый зал 1</option>
                                            <option value="Малый зал 2">Малый зал 2</option>
                                            <option value="Средний зал">Средний зал</option>
                                        </select>
                                    </div>

                                    <div class=" col-sm-6 order-sm-3 order-2">
                                        <input type="text" class="frm-inp " name="email"
                                               placeholder="E-mail">
                                    </div>
                                    <div class=" col-sm-6 order-sm-4 order-5">
                                        <div class="row">
                                            <label class="col-md-4 lab_pos" for="frmDate3">Когда</label>
                                            <div class="col-md-8 col-sm-12 text-right">
                                                <input type="text" class="frm-inp frm-date" id="frmDate3" name="date"
                                                       placeholder="" value="8 марта">
                                                <a href="#frmDate3" class="a-fore-date"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" col-sm-6 order-sm-5 order-3">
                                        <input type="text" class="frm-inp inp-phone" name="phone"
                                               placeholder="+7 (___) ___-__-__">
                                    </div>
                                    <div class=" col-sm-6 order-sm-6 order-6">
                                        <div class="row">
                                            <label for="frmTime3" class="col-md-4 lab_pos">На сколько</label>
                                            <div class="col-md-8 col-sm-12 text-left">
                                                <input type="text" class="frm-inp frm-time" id="frmTime3" name="time1"
                                                       placeholder="00:00" value=""> <span class="sp-t">—</span>
                                                <input type="text" class="frm-inp frm-time" id="frmTime4" name="time2"
                                                       placeholder="00:00" value="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 text-left order-7">
                                        <label for="mess" class="text-left">Пару слов о мероприятии:</label>
                                        <textarea name="message" id="mess" class="frm-inp"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="b-but btn_sub">Забронировать</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="formBronConf_Confirm" class="b-frmpop y">
        <a href="#" class="close-frm"></a>
        <div class="b-frmpop_in">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">
                        <div class="b-frmpop_tit">Заявка отправлена</div>
                        <div class="b-frmpop_txt">Продуктивного времяприпровождения!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="formEvent" class="b-frmpop">
        <a href="#" class="close-frm"></a>
        <div class="b-frmpop_in">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2">

                        <div class="b-frmpop_tit">Сергей Пергаева «Как не убить своих сотрудников»</div>
                        <div class="b-frmpop_txt">&nbsp;</div>

                        <div class="slider_frm_itm">
                            <form action="/" id="frmEvent">
                                <div class="frm-group">
                                    <input type="text" class="frm-inp" name="name"
                                           placeholder="Имя">
                                    <input type="text" class="frm-inp" name="email"
                                           placeholder="E-mail">
                                    <input type="text" class="frm-inp inp-phone" name="phone"
                                           placeholder="+7 (__) ___-__-__">

                                </div>

                                <button type="submit" class="b-but btn_sub">Приду</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="formEvent_Confirm" class="b-frmpop">
        <a href="#" class="close-frm"></a>
        <div class="b-frmpop_in">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">
                        <div class="b-frmpop_tit">Ждем тебя</div>
                        <div class="b-frmpop_txt"><span>29 сентября в 18:00</span> <br>по адресу: Ленина, 31, 2 этаж
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="formMessage" class="b-frmpop">
        <a href="#" class="close-frm"></a>
        <div class="b-frmpop_in">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">

                        <div class="b-frmpop_tit">Поговорим?</div>
                        <div class="b-frmpop_txt">Мы всегда открыты для диалога, рады предложениям <br>о сотрудничестве
                            и
                            замечаниям!
                        </div>

                        <div class="slider_frm_itm">
                            <form action="/" id="frmMessage">
                                <div class="frm-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" class="frm-inp" name="name"
                                                   placeholder="Имя">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="frm-inp" name="email"
                                                   placeholder="E-mail">
                                        </div>
                                        <div class="col-sm-12 text-left">
                                            <textarea title="Сообщение" name="message" id="mess2" class="frm-inp"></textarea>
                                        </div>

                                    </div>

                                </div>

                                <button type="submit" class="b-but btn_sub">Написать</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="formMessage_Confirm" class="b-frmpop">
        <a href="#" class="close-frm"></a>
        <div class="b-frmpop_in">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">
                        <div class="b-frmpop_tit">Спасибо за сообщение</div>
                        <div class="b-frmpop_txt">В ближайшее время мы на него ответим!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC_ciVBEhF-4kfXANVRiV4sEbFTdGxf8c"></script>
{{sripts}}

</body>
</html>
